#Qestions from 32 to 41
#Qestion 32------> done

In [ ]:
# Question 33# 
# Aksiyon filmlerinin ortalama suresi ne kadardır?

#SELECT AVG(length) FROM film WHERE film_id IN(SELECT film_id  FROM film_category  WHERE category_id = (SELECT category_id FROM category  WHERE name='Action') )

In [ ]:
#Question 34  
# #En cok staff olan store hangisidir?

In [ ]:
#35 'Gene Willis' adli aktörün filmlerinin reytingi nedir?
#SELECT rating FROM film WHERE film_id IN(SELECT film_id FROM film_actor WHERE actor_id=(SELECT actor_id FROM actor  WHERE first_name='Gene' and last_name='Willis') )

In [ ]:
#Question 36
#Aktif customer sayisi nedir?
#SELECT SUM(active) FROM customer

In [ ]:
##Question 37 
# C' harfiyle baslayan filmler nelerdir?
#SELECT * FROM film WHERE title LIKE 'C%'

In [ ]:
# Question 38
# 4$ den az odeme yapan musterilerin e-posta edresleri nedir?
##SELECT email, amount  FROM customer  INNER JOIN payment  ON customer.customer_id = payment.customer_id;
#SELECT email, amount  FROM customer , payment  WHERE  customer.customer_id = payment.customer_id;

In [ ]:
# Question 39
#Moskova'da ikamet eden staff ve customer tablosu? (sadece isim/soyisim sütünları olsun)

#SELECT first_name , last_name FROM staff WHERE address_id IN(SELECT city_id FROM city WHERE city='Moskova' )

#SELECT first_name , last_name FROM customer WHERE address_id IN(SELECT city_id FROM city WHERE city='Moskova' )

In [ ]:
#Qestion 40
#En az kiralanan 5 film? 
#SELECT rental_rate FROM film WHERE rental_rate = 0.99 LIMIT 5

In [ ]:
#Question 41
#41- 2006 yilinda yayinlanan ingilizce filmler hangileridir?
#SELECT * FROM film WHERE release_year = 2006 AND language_id = 1