In [ ]:
'''
1- 'pycoders' isimli bir server kurun. (M)
servers uzerinde saga tikla create ya da register-server 
name girilir  'pycoders'
connection--host bolumune localhost ya da ip gir
password olustur -save

2-pycoders server icindeki database e sag tikla 
create-database
database kismina isim gir'class4'  ve save 

silmek icin :var olan database sag tik -delete/drop tikla 

sql komutlariyla olusturmak icin 


'''

In [ ]:
'''
3- https://www.postgresqltutorial.com/postgresql-sample-database/ 
gidiş ve ER modelini kullanarak. Tablolar arasindaki en az 5 iliskiyi yazin.
(Hangi tablodaki arasinda ne tur bir iliski var)

1.language ile film           one to zero or many
2.film_actor file film        zero or one  to  one 
3.staff ile stor              one  to  zero or one
4.film ile film_category      one  to  zero or one
5. country ile city           one to zero or many '''

In [ ]:
#4- ER modeldeki tablolardan 3 tanesini M ile olusturun.  olusturuldu

In [ ]:
#5- ER modeldeki tablolardan 3 tanesini K ile olusturun.
'''

CREATE TABLE actor(
actor_id PRIMARY KEY,
first_name varchar(20),
last_name varchare(20),
last_update date     
)

CREATE TABLE film_actor(
actor_id integer PRIMARY KEY,
film_id integer ,
last_update date    
)

CREATE TABLE store(
store_id integer PRIMARY KEY,
manager_staff_id intefer,
address_id.isinstancelast_update date    
)

'''

In [2]:
#6- ER modeldeki tablolardan 3 tanesini C ile olusturun.
import psycopg2
conn = psycopg2.connect("dbname=class4 user = postgres password=2811")
cur = conn.cursor() 
command = '''create table customer
(
    id integer primary key,
    store_id integer,
    first_name varchar(20) NOT NULL,
    last_name varchar(20) NOT NULL,
    email varchar(20) NOT NULL,
    adres_id integer,
    activebool integer,
    create_date date,
    last_update date,
    active integer
) '''
cur.execute(command)
cur.close()
conn.commit()
conn.close()

In [4]:
import psycopg2
conn = psycopg2.connect("dbname=class4 user = postgres password=2811")
cur = conn.cursor() 
command = '''create table adress_id
(
    adress_id integer primary key,
    address varchar(20) NOT NULL,
    address2 varchar(20) NOT NULL,
    district varchar(20),
    city_id integer,
    postal_code integer NOT NULL,
    phone integer,
    last_update date
    
) '''
cur.execute(command)
cur.close()
conn.commit()
conn.close()

In [6]:
import psycopg2
conn = psycopg2.connect("dbname=class4 user = postgres password=2811")
cur = conn.cursor() 
command = '''create table city
(
    
    city_id integer primary key,
    city varchar(20),
    country_id integer,
 
    last_update date
    
) '''
cur.execute(command)
cur.close()
conn.commit()
conn.close()

In [ ]:
#7- Olusturdugunuz 3 tabloya M ile 5 veri girişi yapin.  girildi

In [ ]:
#8- Olusturdugunuz 3 tabloya K ile 5 veri girişi yapin.

#INSERT INTO actor (actor_id,first_name,last_name,last_update) values (25,robin,williams,4.4.2020)
#INSERT INTO film_actor (actor_id,film_id,last_update) Values (14,254,20.11.1999)
#INSERT INTO store(store_id,manager_staff_id,address_id,last_update) Values(1,25,564,12.10.2023)

In [14]:
#9- Olusturdugunuz 3 tabloya C ile 5 veri girişi yapin.
# insert
conn = psycopg2.connect("dbname=class4 user= postgres password=2811")
cur = conn.cursor()
cur.execute('INSERT INTO city VALUES(%s,%s,%s,%s)', (34,'istanbul',4,'2.2.2002'))
cur.execute('INSERT INTO city VALUES(%s,%s,%s,%s)',(6,'ankara',1,'3.3.2002'))
cur.execute('INSERT INTO city VALUES(%s,%s,%s,%s)',(35,'izmir',5,'7.2.2007'))
cur.execute('INSERT INTO city VALUES(%s,%s,%s,%s)',(61,'trabzon',6,'7.5.2012'))
cur.execute('INSERT INTO city VALUES(%s,%s,%s,%s)',(55,'samsun',4,'2.2.2002'))
cur.close()
conn.commit()
conn.close()

#date string girilmeliymis!!!!

In [19]:
'''
10- 3 tablodaki birer veriyi M ile degistirin.
# M degistir save ok

11- 3 tablodaki birer veriyi K ile degistirin.

12- 3 tablodaki birer veriyi C ile degistirin.
'''
conn = psycopg2.connect("dbname=class4 user= postgres password=2811")

cur = conn.cursor()
cur.execute('UPDATE city SET city = %s WHERE city_id = %s', ('her_yer',61))  
#trabzon ismini her_yer olarak degistirdi
cur.close()
conn.commit()
conn.close()

In [ ]:
'''
13- 3 tablonun son satirini M ile silin.

14- 3 tablonun son satirini K ile silin.

15- 3 tablonun son satirini C ile silin.
'''

In [20]:
'''
16- 1 tabloyu M ile silin.
#saga tikla delete/drop

17- 1 tabloyu K ile silin.
#  DROP table inventory
inventory tablosunu sildi

18- 1 tabloyu C ile silin.
'''
# Drop
try:
    conn = psycopg2.connect("dbname=class4 user= postgres password=2811")
    cur = conn.cursor()
    cur.execute("DROP table rental")
    cur.close()
    conn.commit()
    conn.close()
except:
    print("database hatası")
finally:
    conn.close()

In [ ]:
#19- Kalan tablolardan 1 tanesinin 2 veya 3 
# sutununu K ile baska bir tablo olarak olusturun.

#20- Kalan tablolardan 1 tanesinin 2 veya 3
#sutununu C ile baska bir tablo olarak olusturun.

In [ ]:
'''
21- Tablolardan 1 tanesini truncate edin.

22- Tablolardan 1 tanesini truncate edin.

23- Tablolardan 1 tanesini truncate edin.

24- truncate edilmis tablolari M ile silin.
'''

In [ ]:
#25- 2 tabloyu K ile silin.
DROP TABLE film_actor
DROP TABLE actor
DROP TABLE store
#26- 2 tabloyu C ile silin.
conn = psycopg2.connect("dbname=class4 user= postgres password=2811")
cur = conn.cursor()
cur.execute("DROP TABLE store;")
cur.close() 
conn.commit() 
conn.close()

In [ ]:
'''
27- Elimizde veri olan 1 tablo kalmis olmasi lazim. Tabloyu csv olarak bilgisayarınıza yukleyin.

28- Postgresql dizinindeki son tabloyu da K ile silin.

29- Bilgisayarınızdaki csv yi arayuze import edin.

30- import ettiğiniz bu tabloyu C ile silin.

'''

In [ ]:
'''
31- https://www.postgresqltutorial.com/postgresql-sample-database/ linkindeki 
ornek DB yi bilgisayariniza indirin ve arayuze yukleyin.

32- DB nizde 15 adet tablo olmasi lazim. Her tabloyu teker teker goruntuleyin ve
kolon isimlerine bakarak, 5 tablodaki hangi kolonun PK ve FK olduğunu yazin.
#actor tablosu   actor_id PK
#address tablosu address_id  PK
#category  tablosu category_id PK
#city tablosu city_id  PK
#customer tablosu customer_id PK
#film_category film_id PK  category_id PK

(Asagi'deki sorularıin sayfasınıini ve bu cedakibi bulurken kullandiginiz kodlari yazin)


33- Aksiyon filmlerinin ortalama suresi ne kadardır?
#

34- En cok staff olan store hangisidir?
#

35- 'Gene Willis' adli aktörün filmlerinin reytingi nedir?
#select actor_id,film_id from film_actor where actor_id=96  bu aktörun filmleri


36- Aktif customer sayisi nedir?
#select * from customer where active=1     aktif olanlari gosteriyor

37-'C' harfiyle baslayan filmler nelerdir?
# select *  from film where title like 'C%'

38- 4$ den az odeme yapan musterilerin e-posta edresleri nedir?
# select payment_id,amount from payment where amount<4   emailler olmadigi icin payment_id leri yazdirdim

39- Moskova'da ikamet eden staff ve customer tablosu? (sadece isim/soyisim sütünları olsun)
#select city_id from city where city='Moscow'


40- En az kiralanan 5 film?
#SELECT title FROM film ORDER BY rental_rate ASC LIMIT 5

41- 2006 yilinda yayinlanan ingilizce filmler hangileridir?
# select title from film where language_id=1 and release_year=2006
'''