In [ ]:
""" 

Developer : Melih Orhan Yilmaz
Date      : 14.02.2023

Application : Database

"""

1- 'pycoders' isimli bir server kurun. (M) TAMAM

2- 'class4' veritabanı olusturun (M). Veritabanı silindi (M). Ayni veri tabanı yine olusturun (K)

In [ ]:
"""
CREATE DATABASE class4
"""

3- https://www.postgresqltutorial.com/postgresql-sample-database/ gidiş ve ER modelini kullanarak. Tablolar arasindaki en az 5 iliskiyi yazin.(Hangi tablodaki arasinda ne tur bir iliski var)

In [ ]:
"""
city-country: one to one
language-film: one to one
staff-store: one to many
rantal-film: many to many
staf-rental: many to many

"""

4- ER modeldeki tablolardan 3 tanesini M ile olusturun. TAMAM

5- ER modeldeki tablolardan 3 tanesini K ile olusturun.

In [ ]:
"""
CREATE TABLE film_category(
    film_id INTEGER primary key,
    category_id  INTEGER,
    last_update TIMESTAMP WITHOUT TIME ZONE
);

CREATE TABLE category(
    category_id  INTEGER primary key,
	name varchar,
    last_update TIMESTAMP WITHOUT TIME ZONE
);

CREATE TABLE language(
    language_id  INTEGER primary key,
	name varchar,
    last_update TIMESTAMP WITHOUT TIME ZONE
);
"""

6- ER modeldeki tablolardan 3 tanesini C ile olusturun.

In [16]:
import psycopg2

In [37]:
conn = psycopg2.connect("dbname=class4 user = postgres password=mlhylmz99")
cur = conn.cursor() 
command = '''create table film_actor
(   
    actor_id integer primary key,
    film_id integer
) '''

command = '''create table actor
(
    actor_id integer primary key,
    first_name varchar(20),
    last_name varchar(20)
) '''

command = '''create table inventory
(
    inventory_id integer primary key,
    film_id integer
) '''
cur.execute(command)
cur.close()
conn.commit()
conn.close()

7- Olusturdugunuz 3 tabloya M ile 5 veri girişi yapin. TAMAM

8- Olusturdugunuz 3 tabloya K ile 5 veri girişi yapin.

In [ ]:
"""
INSERT INTO category
VALUES 
(001, 'Cartoon', DATE '11-11-2000'),
(002, 'Horror', DATE '10-10-2000'),
(003, 'Comedy', DATE '10-10-2005'),
(004, 'Dram', DATE '10-10-2010'),
(005, 'Action', DATE '10-10-2015')

INSERT INTO film_category
VALUES 
(1, 001, DATE '11-11-2000'),
(2, 002, DATE '10-10-2000'),
(3, 003, DATE '10-10-2005'),
(4, 004, DATE '10-10-2010'),
(5, 005, DATE '10-10-2015')

INSERT INTO language
VALUES 
(11, 'English', DATE '05-05-2020'),
(21, 'French', DATE '06-06-2020'),
(31, 'Spanish', DATE '07-07-2020'),
(41, 'Turkish', DATE '08-08-2020'),
(51, 'Chinese', DATE '09-09-2020')
"""

9- Olusturdugunuz 3 tabloya C ile 5 veri girişi yapin.

In [34]:
conn = psycopg2.connect("dbname=class4 user= postgres password=mlhylmz99")
cur = conn.cursor()
cur.execute("""
    INSERT INTO actor (actor_id, first_name, last_name)
    VALUES
    (1001, 'Brad', 'Pitt'),
    (1002, 'Amber', 'Heard'),
    (1003, 'Jennifer', 'Lawrence'),
    (1004, 'Kıvanc', 'Tatlıtug'),
    (1005, 'Serenay', 'Sarıkaya')
""")
cur.close()
conn.commit()
conn.close()

In [35]:
conn = psycopg2.connect("dbname=class4 user= postgres password=mlhylmz99")
cur = conn.cursor()
cur.execute("""
    INSERT INTO film_actor (actor_id, film_id)
    VALUES
    (1001, 1),
    (1002, 2),
    (1003, 3),
    (1004, 4),
    (1005, 5)
""")
cur.close()
conn.commit()
conn.close()

In [38]:
conn = psycopg2.connect("dbname=class4 user= postgres password=mlhylmz99")
cur = conn.cursor()
cur.execute("""
    INSERT INTO inventory (inventory_id, film_id)
    VALUES
    (111, 1),
    (222, 2),
    (333, 3),
    (444, 4),
    (555, 5)
""")
cur.close()
conn.commit()
conn.close()

10- 3 tablodaki birer veriyi M ile degistirin. TAMAM

11- 3 tablodaki birer veriyi K ile degistirin.

In [ ]:
"""
UPDATE category
SET name = 'Documentary'
WHERE category_id = 1

UPDATE film_category
SET category_id = 333
WHERE film_id = 3

UPDATE language
SET name = 'Flemish'
WHERE language_id = 51
"""

12- 3 tablodaki birer veriyi C ile degistirin.

In [39]:
conn = psycopg2.connect("dbname=class4 user= postgres password=mlhylmz99")
cur = conn.cursor()
cur.execute('UPDATE film_actor SET actor_id = %s WHERE film_id = %s', (2003,3))
cur.close()
conn.commit()
conn.close()

In [40]:
conn = psycopg2.connect("dbname=class4 user= postgres password=mlhylmz99")
cur = conn.cursor()
cur.execute('UPDATE actor SET first_name = %s WHERE last_name = %s', ("Angelina","Pitt"))
cur.close()
conn.commit()
conn.close()

In [41]:
conn = psycopg2.connect("dbname=class4 user= postgres password=mlhylmz99")
cur = conn.cursor()
cur.execute('UPDATE inventory SET inventory_id = %s WHERE film_id = %s', (1111,1))
cur.close()
conn.commit()
conn.close()

13- 3 tablonun son satirini M ile silin. TAMAM

14- 3 tablonun son satirini K ile silin.

In [ ]:
"""
DELETE FROM category WHERE category_id=5 ;
DELETE FROM film_category WHERE film_id=5 ;
DELETE FROM language WHERE language_id=51 ;
"""

15- 3 tablonun son satirini C ile silin.

In [42]:
import psycopg2
conn=psycopg2.connect("dbname=class4 user=postgres password=mlhylmz99")
cur=conn.cursor()
cur.execute('DELETE FROM actor WHERE actor_id=1005')
cur.execute('DELETE FROM film_actor WHERE actor_id=2003')
cur.execute('DELETE FROM inventory WHERE inventory_id=1111')

cur.close()
conn.commit()
conn.close()

16- 1 tabloyu M ile silin. TAMAM

17- 1 tabloyu K ile silin.

In [ ]:
"""
DROP TABLE film_actor
"""

18- 1 tabloyu C ile silin.

In [43]:
import psycopg2
conn=psycopg2.connect("dbname=class4 user=postgres password=mlhylmz99")
cur=conn.cursor()
cur.execute('DROP TABLE category')
cur.close()
conn.commit()
conn.close()

19- Kalan tablolardan 1 tanesinin 2 veya 3 sutununu K ile baska bir tablo olarak olusturun. TAMAM

In [ ]:
"""
CREATE TABLE film_ids AS SELECT film_id,category_id FROM film_category
"""

20- Kalan tablolardan 1 tanesinin 2 veya 3 sutununu C ile baska bir tablo olarak olusturun.

In [44]:
import psycopg2
conn=psycopg2.connect("dbname=class4 user=postgres password=mlhylmz99")
cur=conn.cursor()
command="""CREATE TABLE actors_list AS SELECT first_name,last_name FROM actor"""
cur.execute(command)
cur.close()
conn.commit()
conn.close()

21- Tablolardan 1 tanesini truncate edin. TAMAM

22- Tablolardan 1 tanesini truncate edin.

In [ ]:
"""
TRUNCATE TABLE inventory
"""

23- Tablolardan 1 tanesini truncate edin.

In [45]:
import psycopg2
conn=psycopg2.connect("dbname=class4 user=postgres password=mlhylmz99")
cur=conn.cursor()
command="""TRUNCATE TABLE payment"""
cur.execute(command)
cur.close()
conn.commit()
conn.close()

24- Truncate edilmis tablolari M ile silin. TAMAM

25- 2 tabloyu K ile silin.

In [ ]:
"""
DROP TABLE film_ids
DROP TABLE film_category
"""

26- 2 tabloyu C ile silin.

In [48]:
import psycopg2
conn=psycopg2.connect("dbname=class4 user=postgres password=mlhylmz99")
cur=conn.cursor()
command="""
        DROP TABLE actors_list;
        DROP TABLE film
       """
cur.execute(command)
cur.close()
conn.commit()
conn.close()

27- Elimizde veri olan 1 tablo kalmis olmasi lazim. Tabloyu csv olarak bilgisayarınıza yukleyin. TAMAM

28- Postgresql dizinindeki son tabloyu da K ile silin.

In [ ]:
"""
DROP TABLE actor
"""

29- Bilgisayarınızdaki csv yi arayuze import edin. TAMAM

30- import ettiğiniz bu tabloyu C ile silin.

In [ ]:
import psycopg2
conn=psycopg2.connect("dbname=class4 user=postgres password=mlhylmz99")
cur=conn.cursor()
command="""DROP TABLE actor"""
cur.execute(command)
cur.close()
conn.commit()
conn.close()

31- https://www.postgresqltutorial.com/postgresql-sample-database/ linkindeki ornek DB yi bilgisayariniza indirin ve arayuze yukleyin. TAMAM

32- DB nizde 15 adet tablo olmasi lazim. Her tabloyu teker teker goruntuleyin ve kolon isimlerine bakarak, 5 tablodaki hangi kolonun PK ve FK olduğunu yazin.

1) film_category
film_id = pk
category_id = fk

2) city
city_id = pk
country_id = fk

3) address
address_id = pk
city_id = fk

4) customer
customer_id = pk
address_id = fk

5)rental
rental_id = pk
staff_id = fk

33- Aksiyon filmlerinin ortalama suresi ne kadardır?

SELECT AVG(length) FROM film WHERE film_id IN ( SELECT film_id FROM film_category WHERE category_id=1)
111.6093750000000000

34- En cok staff olan store hangisidir?

SELECT store_id, COUNT(store_id) FROM customer GROUP BY store_id ORDER BY COUNT(store_id) DESC LIMIT 1

35- 'Gene Willis' adli aktörün filmlerinin reytingi nedir?

SELECT rating FROM film WHERE film_id IN (SELECT film_id FROM film_actor WHERE actor_id=( SELECT actor_id FROM actor WHERE first_name = 'Gene' AND last_name = 'Willis'))
"R"
"PG-13"
"R"
"R"
"G"
"NC-17"
"PG"
"NC-17"
"NC-17"
"PG-13"
"G"
"R"
"R"
"PG-13"
"PG"
"PG-13"
"G"
"PG"
"NC-17"
"PG"
"R"
"G"
"PG"

36- Aktif customer sayisi nedir?

SELECT COUNT(*) FROM customer WHERE active =1
584

37-'C' harfiyle baslayan filmler nelerdir?

SELECT title FROM film WHERE title like 'C%'
"Chamber Italian"
"Casualties Encino"
"Cabin Flash"
"Caddyshack Jedi"
"Calendar Gunfight"
"California Birds"
"Camelot Vacation"
"Campus Remember"
"Candidate Perdition"
"Candles Grapes"
"Canyon Stock"
"Caper Motions"
"Caribbean Liberty"
"Carol Texas"
"Carrie Bunch"
"Casablanca Super"
"Casper Dragonfly"
"Cassidy Wyoming"
"Cat Coneheads"
"Catch Amistad"
"Cause Date"
"Celebrity Horn"
"Center Dinosaur"
"Chainsaw Uptown"
"Champion Flatliners"
"Chance Resurrection"
"Clash Freddy"
"Chaplin License"
"Charade Duffel"
"Chariots Conspiracy"
"Chasing Fight"
"Cheaper Clyde"
"Chicago North"
"Chicken Hellfighters"
"Chill Luck"
"Chinatown Gladiator"
"Chisum Behavior"
"Chitty Lock"
"Chocolat Harry"
"Chocolate Duck"
"Christmas Moonshine"
"Cider Desire"
"Cincinatti Whisperer"
"Circus Youth"
"Citizen Shrek"
"Cleopatra Devil"
"Clerks Angels"
"Clockwork Paradise"
"Clones Pinocchio"
"Closer Bang"
"Club Graffiti"
"Clue Grail"
"Clueless Bucket"
"Clyde Theory"
"Coast Rainbow"
"Core Suit"
"Coldblooded Darling"
"Color Philadelphia"
"Coma Head"
"Comancheros Enemy"
"Comforts Rush"
"Command Darling"
"Commandments Express"
"Coneheads Smoochy"
"Confessions Maguire"
"Confidential Interview"
"Confused Candles"
"Congeniality Quest"
"Connecticut Tramp"
"Connection Microcosmos"
"Conquerer Nuts"
"Conspiracy Spirit"
"Contact Anonymous"
"Control Anthem"
"Conversation Downhill"
"Cowboy Doom"
"Craft Outfield"
"Cranes Reservoir"
"Crazy Home"
"Creatures Shakespeare"
"Creepers Kane"
"Crooked Frogmen"
"Crossing Divorce"
"Crossroads Casualties"
"Crow Grease"
"Crowds Telemark"
"Cruelty Unforgiven"
"Crusade Honey"
"Crystal Breaking"
"Cupboard Sinners"
"Curtain Videotape"
"Cyclone Family"

38- 4$ den az odeme yapan musterilerin e-posta edresleri nedir?

SELECT email FROM customer WHERE customer_id IN(SELECT customer_id FROM payment WHERE amount<4)

39- Moskova'da ikamet eden staff ve customer tablosu? (sadece isim/soyisim sütünları olsun)

SELECT first_name, last_name FROM customer WHERE address_id IN (SELECT address_id FROM address WHERE city_id IN (SELECT city_id FROM city WHERE city= 'Moscow'))

Catherine Campbell

40- En az kiralanan 5 film?

SELECT TITLE FROM film WHERE film_id IN (SELECT film_id FROM inventory GROUP BY film_id ORDER BY COUNT(*) LIMIT 5)

"Elf Murder"
"Tarzan Videotape"
"Luck Opus"
"Stallion Sundance"
"Clue Grail"

41- 2006 yilinda yayinlanan ingilizce filmler hangileridir?

SELECT * FROM film WHERE release_year=2006 and language_id IN (SELECT language_id FROM language WHERE name='English');

1000