# NumPy Homework

# A

## 1) import numpy library with his usual alias!

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display

## 2) Create a random matrix, which has 2 columns and 20 rows. With this we will then create a pandas DataFrame!

In [2]:
ratings_values = np.random.rand(20,2)
ratings = pd.DataFrame(ratings_values, columns=['Price', 'Quality'])
print(ratings_values)
print()
display(ratings)

[[0.94123303 0.31015916]
 [0.07297498 0.25572502]
 [0.79330701 0.59173082]
 [0.06003546 0.57283572]
 [0.9117036  0.52323182]
 [0.43414702 0.63738471]
 [0.64140028 0.59118453]
 [0.69547306 0.22148671]
 [0.73692891 0.12872344]
 [0.30474639 0.640731  ]
 [0.03186071 0.12514755]
 [0.47128315 0.41909271]
 [0.96498532 0.48089851]
 [0.02970158 0.72164234]
 [0.78228095 0.70054505]
 [0.70641809 0.308718  ]
 [0.81374771 0.11823512]
 [0.41561835 0.08209086]
 [0.72843787 0.52186428]
 [0.84818725 0.90354613]]

       Price   Quality
0   0.941233  0.310159
1   0.072975  0.255725
2   0.793307  0.591731
3   0.060035  0.572836
4   0.911704  0.523232
5   0.434147  0.637385
6   0.641400  0.591185
7   0.695473  0.221487
8   0.736929  0.128723
9   0.304746  0.640731
10  0.031861  0.125148
11  0.471283  0.419093
12  0.964985  0.480899
13  0.029702  0.721642
14  0.782281  0.700545
15  0.706418  0.308718
16  0.813748  0.118235
17  0.415618  0.082091
18  0.728438  0.521864
19  0.848187  0.903546

## 3) Create two vectors from the previous DataFrame. We will use the same values from the previous DataFrame which we already have been created. The first one contains the evaluations which show the customer satisfaction for the prices, and the second one contains for the quality. How big how good! We will then print the vectors.

##### Hint: pd.DataFrame['column_name'] gives us a Series from a DataFrame. We can use it with the same functions as DataFrames.

In [3]:
price =  ratings['Price']
quality =ratings['Quality']


print('Price: ', price)
print('Quality: ', quality)

Price:  0     0.941233
1     0.072975
2     0.793307
3     0.060035
4     0.911704
5     0.434147
6     0.641400
7     0.695473
8     0.736929
9     0.304746
10    0.031861
11    0.471283
12    0.964985
13    0.029702
14    0.782281
15    0.706418
16    0.813748
17    0.415618
18    0.728438
19    0.848187
Name: Price, dtype: float64
Quality:  0     0.310159
1     0.255725
2     0.591731
3     0.572836
4     0.523232
5     0.637385
6     0.591185
7     0.221487
8     0.128723
9     0.640731
10    0.125148
11    0.419093
12    0.480899
13    0.721642
14    0.700545
15    0.308718
16    0.118235
17    0.082091
18    0.521864
19    0.903546
Name: Quality, dtype: float64

## 4) Find the total numbers of visitors.

In [4]:
visitors_count =ratings.shape[0]

print('Number of visitors:', visitors_count)

Number of visitors: 20

## 5) Find and print the average ratings for each column using numpy functions (we will find the mean and median values)

In [6]:
print('The mean of the price ratings: ', np.mean(price)) # < write your code here >
print('The median of the price ratings', np.median(price)) # < write your code here >

print('The mean of the quality ratings: ', np.mean(quality)) # < write your code here >
print('The median of the quality ratings', np.median(quality)) # < write your code here >

The mean of the price ratings:  0.5692235369549552
The median of the price ratings 0.700945575092947
The mean of the quality ratings:  0.4427486742039764
The median of the quality ratings 0.5013813996522876

## 6) Create a new vector which is the average of the ratings of two columns, price and quality. We will name it as mean_ratings. It will show the average rating for each customer. Round elements of the array to the nearest integer.

In [7]:
mean_ratings =(price + quality) / 2
# Round the elements of the array to the nearest integer
mean_ratings = np.round(mean_ratings)
print(mean_ratings)

0     1.0
1     0.0
2     1.0
3     0.0
4     1.0
5     1.0
6     1.0
7     0.0
8     0.0
9     0.0
10    0.0
11    0.0
12    1.0
13    0.0
14    1.0
15    1.0
16    0.0
17    0.0
18    1.0
19    1.0
dtype: float64

## 7) Create ratings_values matrix again with the all three vectors. Average ratings, which has just been calculated in the previous exercise, should be the third column of the new matrix. All values in the matrix should be integer! New matrix should have 20 rows and 3 columns!

In [12]:
new_ratings_values= np.column_stack((price, quality, mean_ratings))


print(new_ratings_values)
print(type(new_ratings_values))
print(new_ratings_values.shape)#####################################################################################################

[[0.94123303 0.31015916 1.        ]
 [0.07297498 0.25572502 0.        ]
 [0.79330701 0.59173082 1.        ]
 [0.06003546 0.57283572 0.        ]
 [0.9117036  0.52323182 1.        ]
 [0.43414702 0.63738471 1.        ]
 [0.64140028 0.59118453 1.        ]
 [0.69547306 0.22148671 0.        ]
 [0.73692891 0.12872344 0.        ]
 [0.30474639 0.640731   0.        ]
 [0.03186071 0.12514755 0.        ]
 [0.47128315 0.41909271 0.        ]
 [0.96498532 0.48089851 1.        ]
 [0.02970158 0.72164234 0.        ]
 [0.78228095 0.70054505 1.        ]
 [0.70641809 0.308718   1.        ]
 [0.81374771 0.11823512 0.        ]
 [0.41561835 0.08209086 0.        ]
 [0.72843787 0.52186428 1.        ]
 [0.84818725 0.90354613 1.        ]]
<class 'numpy.ndarray'>
(20, 3)

In [13]:
new_ratings = pd.DataFrame(new_ratings_values, columns=['Price', 'Quality', 'Average'])
display(new_ratings)

       Price   Quality  Average
0   0.941233  0.310159      1.0
1   0.072975  0.255725      0.0
2   0.793307  0.591731      1.0
3   0.060035  0.572836      0.0
4   0.911704  0.523232      1.0
5   0.434147  0.637385      1.0
6   0.641400  0.591185      1.0
7   0.695473  0.221487      0.0
8   0.736929  0.128723      0.0
9   0.304746  0.640731      0.0
10  0.031861  0.125148      0.0
11  0.471283  0.419093      0.0
12  0.964985  0.480899      1.0
13  0.029702  0.721642      0.0
14  0.782281  0.700545      1.0
15  0.706418  0.308718      1.0
16  0.813748  0.118235      0.0
17  0.415618  0.082091      0.0
18  0.728438  0.521864      1.0
19  0.848187  0.903546      1.0

# B

## 1) Create *Mean Absolute Error (MAE)* function

\begin{equation}
MAE=\frac{1}{n}\sum_{i=1}^n|target_i - predictions_i|
\end{equation}

In [14]:
def mae(target, predictions):
     return ((target - predictions) ** 2).mean()

## 2) Create two arrays each of them has $100$ observations. We will use them for *target* and *predictions* labelling. The target array should consist only $0$ or $1$ values which are random created, while predictions only integer $1$. The target array should have a *binomial distribution* which gives $1$ with $60$% probability.

In [27]:
target =np.random.binomial(1,0.6,100)
predictions = np.ones(100)

print(target)
print()
print(predictions)

[1 0 1 0 0 1 1 0 1 0 0 0 1 1 1 1 1 1 1 0 0 1 1 1 0 1 0 0 1 1 1 1 1 1 0 0 1
 0 1 0 1 0 1 1 1 0 1 1 1 1 1 1 1 0 1 1 1 1 0 0 1 1 1 0 1 0 1 1 1 0 1 1 1 0
 0 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 0 0 1 0 1]

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1.]

## 3) Find the *MAE* with your mae function

In [28]:
mean_absolute_error =mae(target,predictions)

## 4)  Run the code in this step. Observe the printed outputs. Try to run the codes a few times from step 2. What do you think about the results? Give your thoughts shortly with 3 - 5 sentences about why two outputs are the same. What is your conclusion?

In [29]:
print(1-np.mean(target))

print(mean_absolute_error)
#ikisi de ayni sayi cikiyor

0.31000000000000005
0.31

 ### < write your conclusion here >

## 5) We have always chosen $1$ in our predictions, but the actual values at the target have changed each time. How likely is it that we got it right each time, and what determines this?

 ### < write your answer here >

# C

## 1) Create a Pythagorean function using *np.dot()* to calculate vector length

$$v = [x, y] ==> len_v = \sqrt{x^2+y^2}$$

In [36]:
def pythagorean_length(vektor):

    return np.sqrt(np.dot(vektor,vektor))
#######################
"""def pythagorean_length(x,y):
    v=[x,y]
    return np.sqrt(np.dot(v,v))"""

## 2) Calculate the length of the given vector using your *pythagorean_length* function and check your result comparing with the given

In [37]:
a = np.array([3, 4])

print(pythagorean_length(a))

print(((a[0] ** 2) + (a[1] ** 2)) ** 0.5)

5.0
5.0

## 3) Find the shortest distance (Euclidean distance) using *np.dot()* between the given two vectors and compare the results to check

In [40]:
#######The mathematical formula used to compute the euclidean distance between two points, is given below.

#######d = √((x₂ — x₁)² + (y₂ — y₁)²)


a = np.array([5, 6])
b = np.array([1, 3])

c =np.linalg.norm(a-b)
print('The distance between a and b is', c)

"""from scipy.spatial import distance
print('The distance between a and b should be', distance.euclidean(a, b))"""

The distance between a and b is 5.0

"from scipy.spatial import distance\nprint('The distance between a and b should be', distance.euclidean(a, b))"

# D - Obfuscating Data

It is best to obfuscate data by multiplying the numerical features (they can be seen as the matrix $X$) by an invertible matrix $P$. 

$$
X' = X \times P
$$

Try to do that and check how the features' values will look like after the transformation. By the way, the invertible property is important here so make sure that $P$ is indeed invertible.

## 1) Protect customers' personal data. It is necessary to develop a data transformation algorithm that makes it difficult to recover personal information in case the data falls into the wrong hands. This is called data masking or data obfuscation. However, the data must be protected in such a way that the quality of the machine learning models does not suffer. You don't need to choose the best model, just prove that the algorithm works correctly.

In [41]:
# pd.DataFrame
columns = ['gender', 'age', 'salary', 'family_members']
data = np.array([np.random.choice([0, 1], size=1000), 
                 np.random.randint(18, 100, 1000), 
                 np.random.normal(25000, 5000, 1000).astype(int), 
                 np.random.randint(0, 10, 1000)
                ])

personal_data = pd.DataFrame(data.T, columns=columns)
display(personal_data.tail(10))

     gender  age  salary  family_members
990       0   78   31692               6
991       1   68   27487               5
992       1   22   22845               0
993       0   91   31141               7
994       1   64   21958               6
995       0   20   28748               6
996       0   75   23844               3
997       1   62   26259               2
998       1   63   27742               6
999       1   51   31782               2

In [61]:
X=personal_data.values
X.shape

(100, 4)

In [124]:

"""rng = np.random.default_rng(seed=42)
P= rng.random((4,4))"""
P = np.array([[3, 0, 0, 0],
              [0, 2, 0, 0],
              [0, 0, 5, 0],
              [0, 0, 0, 4]])
P_inv= np.linalg.inv(P)  #p`nin tersini aldik
X_secure = X.dot(P)  # 
#personal_data[columns] = X_secure  
X_secure = pd.DataFrame(X_secure, columns=columns)
 
#display(personal_data.tail(10))
display(X_secure.tail(10))

     gender  age  salary  family_members
990       3  150  127780              28
991       3  184  101980              32
992       3  168  135685               0
993       0  182  183160              12
994       3   64  114700              24
995       0  150  133125               0
996       0  148  128305              36
997       3  120  151870               8
998       0  182  103340              36
999       3  122  169340              32

**(Hint:** https://numpy.org/doc/stable/reference/random/generator.html **)**

## 2) Can you guess the customers' ages or income after the transformation?

In [125]:
# Secure Data
pd.DataFrame(X_secure).describe()

       gender     age    salary  family_members
count 1000.00 1000.00   1000.00         1000.00
mean     1.55  115.90 125729.74           17.98
std      1.50   47.78  25231.49           11.71
min      0.00   36.00  48060.00            0.00
25%      0.00   72.00 108827.50            8.00
50%      3.00  116.00 125365.00           16.00
75%      3.00  156.00 142578.75           28.00
max      3.00  198.00 208865.00           36.00

#### write your conlusion here
...

## 3) Can you recover the original data from $X'$ if you know $P$? Try to check that with calculations by moving $P$ from the right side of the formula above to the left one. The rules of matrix multiplication are helpful here.

In [126]:
"""#############(X.P)'=P'.X'   
X_recovered = X_secure.dot(P_inv)
X_recovered=pd.DataFrame(X_recovered, columns=columns)
display(X_recovered.tail(10))"""


X_original = X_secure.values.dot(P_inv)
personal_data[columns] = X_original

In [ ]:
# Printing all three cases for a few customers

In [127]:
# Original Data
personal_data.tail(10)

     gender   age   salary  family_members
990    1.00 75.00 25556.00            7.00
991    1.00 92.00 20396.00            8.00
992    1.00 84.00 27137.00            0.00
993    0.00 91.00 36632.00            3.00
994    1.00 32.00 22940.00            6.00
995    0.00 75.00 26625.00            0.00
996    0.00 74.00 25661.00            9.00
997    1.00 60.00 30374.00            2.00
998    0.00 91.00 20668.00            9.00
999    1.00 61.00 33868.00            8.00

In [128]:
# Secure Data
pd.DataFrame(X_secure).tail(10)  # < write your code here >

     gender  age  salary  family_members
990       3  150  127780              28
991       3  184  101980              32
992       3  168  135685               0
993       0  182  183160              12
994       3   64  114700              24
995       0  150  133125               0
996       0  148  128305              36
997       3  120  151870               8
998       0  182  103340              36
999       3  122  169340              32

In [129]:
# Recovered Data
pd.set_option('display.float_format', '{:.2f}'.format)
pd.DataFrame(X_original).astype('int').tail(10) # < write your code here >

     0   1      2  3
990  1  75  25556  7
991  1  92  20396  8
992  1  84  27137  0
993  0  91  36632  3
994  1  32  22940  6
995  0  75  26625  0
996  0  74  25661  9
997  1  60  30374  2
998  0  91  20668  9
999  1  61  33868  8

#### write your conlusion here
...

---

# USEFUL INFORMATIONS

##### Matrices and Matrix Operations

- **A matrix** is a rectangular numeric table or two-dimensional array consisting of m rows and n columns.
- **A transpose of the matrix** is a matrix operation when its rows become columns with the same numbers.- **Dummy code** is a simple code that doesn't mean anything.
- **An identity matrix** is a square matrix with ones on the main diagonal and zeros elsewhere.
- **An inverse matrix** for a square matrix A is a matrix A with a superscript -1 whose product with A is equal to the identity matrix.
- **Invertible matrices** are matrices that have an inverse.
- **Non-invertible** are matrices that don't have an inverse.

# Properties of Matrices

Matrices have many properties in Linear Algebra.

<table>
<tr>
<td>Distributivity</td><td>$A(B+C)=AB+AC$</td>
</tr>
<tr>
<td>Non-commutativity</td><td>$AB \neq BA$</td>
</tr>
<tr>
<td>Associative property of multiplication</td><td>$(AB)C = A(BC)$</td>
</tr>
<tr>
<td>Multiplicative identity property</td><td>$IA = AI = A$</td>
</tr>
<tr>
<td></td><td>$A^{-1}A = AA^{-1} = I$
</td>
</tr>    
<tr>
<td></td><td>$(AB)^{-1} = B^{-1}A^{-1}$</td>
</tr>    
<tr>
<td>Reversivity of the transpose of a product of matrices,</td><td>$(AB)^T = B^TA^T$</td>
</tr>    
</table>

---