In [ ]:
import psycopg2

(M:Manuel olarak, K:SQL komutlarıyla, C:Python kodlariyla)

Asagidaki sorudan K ve C ile cozulmesini tasdikimizin cozumlerini (komüt kodlarini) ustte test veya altta cozumu sekilde bir dosyaya yapistirip gondermenizi istiyoruz.

1- 'pycoders' isimli bir server kurun. (M)

2- 'class4' veritabanı olusturun (M). Veritabanı silindi (M). Ayni veri tabanı yine olusturun (K)

3- https://www.postgresqltutorial.com/postgresql-sample-database/ gidiş ve ER modelini kullanarak. Tablolar arasindaki en az 5 iliskiyi yazin.(Hangi tablodaki arasinda ne tur bir iliski var)

4- ER modeldeki tablolardan 3 tanesini M ile olusturun.

5- ER modeldeki tablolardan 3 tanesini K ile olusturun.

6- ER modeldeki tablolardan 3 tanesini C ile olusturun.

(4-5-6. sorulari cozerken toblolar arasındaki iliskileri gozardi edebilirsiniz.)

7- Olusturdugunuz 3 tabloya M ile 5 veri girişi yapin.

8- Olusturdugunuz 3 tabloya K ile 5 veri girişi yapin.

9- Olusturdugunuz 3 tabloya C ile 5 veri girişi yapin.

10- 3 tablodaki birer veriyi M ile degistirin.

11- 3 tablodaki birer veriyi K ile degistirin.

12- 3 tablodaki birer veriyi C ile degistirin.

13- 3 tablonun son satirini M ile silin.

14- 3 tablonun son satirini K ile silin.

15- 3 tablonun son satirini C ile silin.

16- 1 tabloyu M ile silin.

17- 1 tabloyu K ile silin.

18- 1 tabloyu C ile silin.

19- Kalan tablolardan 1 tanesinin 2 veya 3 sutununu K ile baska bir tablo olarak olusturun.

20- Kalan tablolardan 1 tanesinin 2 veya 3 sutununu C ile baska bir tablo olarak olusturun.

21- Tablolardan 1 tanesini truncate edin.

22- Tablolardan 1 tanesini truncate edin.

23- Tablolardan 1 tanesini truncate edin.

24- truncate edilmis tablolari M ile silin.

25- 2 tabloyu K ile silin.

26- 2 tabloyu C ile silin.

27- Elimizde veri olan 1 tablo kalmis olmasi lazim. Tabloyu csv olarak bilgisayarınıza yukleyin.

28- Postgresql dizinindeki son tabloyu da K ile silin.

29- Bilgisayarınızdaki csv yi arayuze import edin.

30- import ettiğiniz bu tabloyu C ile silin.

31- https://www.postgresqltutorial.com/postgresql-sample-database/ linkindeki ornek DB yi bilgisayariniza indirin ve arayuze yukleyin.

32- DB nizde 15 adet tablo olmasi lazim. Her tabloyu teker teker goruntuleyin ve kolon isimlerine bakarak, 5 tablodaki hangi kolonun PK ve FK olduğunu yazin.

(Asagi'deki sorularıin sayfasınıini ve bu cedakibi bulurken kullandiginiz kodlari yazin)

33- Aksiyon filmlerinin ortalama suresi ne kadardır?

34- En cok staff olan store hangisidir?

35- 'Gene Willis' adli aktörün filmlerinin reytingi nedir?

36- Aktif customer sayisi nedir?

37-'C' harfiyle baslayan filmler nelerdir?

38- 4$ den az odeme yapan musterilerin e-posta edresleri nedir?

39- Moskova'da ikamet eden staff ve customer tablosu? (sadece isim/soyisim sütünları olsun)

40- En az kiralanan 5 film?

41- 2006 yilinda yayinlanan ingilizce filmler hangileridir?

*1- 'pycoders' isimli bir server kurun. (M)*

Derste de yaşadığımız sorun gibi yeni bir servers kurmak için elle port girmem gerekiyor ve girdiğim portlarda localhost'a connection reddedildi diyor ve  şifresini görmüyor. Bu yüzden tüm işlemleri programı kurarken oluşturduğum server ile yaptım.

*2- 'class4' veritabanı olusturun (M). Veritabanı silindi (M). Ayni veri tabanı yine olusturun (K)*

(M) işlemler tamamlandı. 
(K) aşağıda;

In [ ]:
"""
CREATE DATABASE pycoders
    WITH
    OWNER = postgres
    ENCODING = 'UTF8'
    LC_COLLATE = 'C'
    LC_CTYPE = 'C'
    TABLESPACE = pg_default
    CONNECTION LIMIT = -1
    IS_TEMPLATE = False;
"""

*3- https://www.postgresqltutorial.com/postgresql-sample-database/ gidiş ve ER modelini kullanarak. Tablolar arasindaki en az 5 iliskiyi yazin.(Hangi tablodaki arasinda ne tur bir iliski var)*

- film --> inventory; One to Many
- staff --> store; One to One
- language --> film; One to Many
- film --> actor; One to One
- customer --> address; Many to One

*4- ER modeldeki tablolardan 3 tanesini M ile olusturun.* Tamamlandı.

*5- ER modeldeki tablolardan 3 tanesini K ile olusturun.*

In [ ]:
"""
CREATE TABLE inventory (
	inventory_id int PRIMARY KEY,
	film_id int,
	last_update varchar(10)
);

CREATE TABLE rental (
	rental_id INT PRIMARY KEY,
	rental_date DATE NOT NULL,
	inventory_id INT,
	customer_id INT,
	return_date DATE,
	staff_id INT,
	last_update DATE
);

CREATE TABLE payment (
	payment_id INT PRIMARY KEY,
	customer_id INT NOT NULL,
	staff_id INT,
	rental_id INT,
	amount INT,
	payment_date DATE
);
"""

*6- ER modeldeki tablolardan 3 tanesini C ile olusturun.*

In [1]:
import psycopg2

In [5]:
conn = psycopg2.connect("dbname=pycoders user= postgres password=1234")
cur = conn.cursor()
command = '''create table actor
(
    actor_id integer primary key,
    first_name varchar(20),
    last_name varchar(20),
    last_update date
)'''
cur.execute(command)
cur.close()
conn.commit()
conn.close()

In [6]:
conn = psycopg2.connect("dbname=pycoders user= postgres password=1234")
cur = conn.cursor()
command = '''create table language
(
    language_id integer primary key,
    name varchar(20) NOT NULL,
    last_update date
)'''
cur.execute(command)
cur.close()
conn.commit()
conn.close()

In [8]:
conn = psycopg2.connect("dbname=pycoders user= postgres password=1234")
cur = conn.cursor()
command = '''create table film_actor
(
    actor_id integer primary key,
    film_id integer not null,
    last_update date
)'''
cur.execute(command)
cur.close()
conn.commit()
conn.close()

*7- Olusturdugunuz 3 tabloya M ile 5 veri girişi yapin.* Tamamlandı

*8- Olusturdugunuz 3 tabloya K ile 5 veri girişi yapin.*

In [ ]:
"""
INSERT INTO film_actor (actor_id, film_id) VALUES (2, 1);
INSERT INTO film_actor (actor_id, film_id) VALUES (3, 1);
INSERT INTO film_actor (actor_id, film_id) VALUES (4, 1);
INSERT INTO film_actor (actor_id, film_id) VALUES (5, 1);
INSERT INTO film_actor (actor_id, film_id) VALUES (6, 1);
INSERT INTO film_category (film_id, category_id) VALUES (2, 1);
INSERT INTO film_category (film_id, category_id) VALUES (3, 1);
INSERT INTO film_category (film_id, category_id) VALUES (4, 1);
INSERT INTO film_category (film_id, category_id) VALUES (5, 1);
INSERT INTO film_category (film_id, category_id) VALUES (6, 1);
INSERT INTO inventory (inventory_id, film_id, last_update) VALUES (2, 1, 2023);
INSERT INTO inventory (inventory_id, film_id, last_update) VALUES (3, 3, 2023);
INSERT INTO inventory (inventory_id, film_id, last_update) VALUES (4, 1, 2020);
INSERT INTO inventory (inventory_id, film_id, last_update) VALUES (5, 2, 2023);
INSERT INTO inventory (inventory_id, film_id, last_update) VALUES (6, 1, 2022);
"""

*9- Olusturdugunuz 3 tabloya C ile 5 veri girişi yapin.*

In [23]:
conn = psycopg2.connect("dbname=pycoders user= postgres password=1234")
cur = conn.cursor()
cur.execute('INSERT INTO language VALUES(%s,%s)',(1, "French"))
cur.execute('INSERT INTO language VALUES(%s,%s)',(3, "German"))
cur.execute('INSERT INTO language VALUES(%s,%s)',(4, "Dutch"))
cur.execute('INSERT INTO language VALUES(%s,%s)',(2, "French"))
cur.close()
conn.commit()
conn.close()

In [25]:
conn = psycopg2.connect("dbname=pycoders user= postgres password=1234")
cur = conn.cursor()
cur.execute('INSERT INTO payment VALUES(%s,%s,%s,%s,%s)',(1,1,1,1,25))
cur.execute('INSERT INTO payment VALUES(%s,%s,%s,%s,%s)',(2,1,1,1,50))
cur.execute('INSERT INTO payment VALUES(%s,%s,%s,%s,%s)',(3,1,1,1,10))
cur.execute('INSERT INTO payment VALUES(%s,%s,%s,%s,%s)',(4,1,2,1,10))
cur.execute('INSERT INTO payment VALUES(%s,%s,%s,%s,%s)',(5,3,1,1,25))
cur.close()
conn.commit()
conn.close()

In [27]:
conn = psycopg2.connect("dbname=pycoders user= postgres password=1234")
cur = conn.cursor()
cur.execute('INSERT INTO rental VALUES(%s,%s,%s,%s)',(1,"2023-2-2",1,1))
cur.execute('INSERT INTO rental VALUES(%s,%s,%s,%s)',(2,"2023-2-2",1,1))
cur.execute('INSERT INTO rental VALUES(%s,%s,%s,%s)',(3,"2022-3-12",4,1))
cur.execute('INSERT INTO rental VALUES(%s,%s,%s,%s)',(4,"2021-9-1",1,1))
cur.execute('INSERT INTO rental VALUES(%s,%s,%s,%s)',(5,"2020-7-2",6,1))
cur.close()
conn.commit()
conn.close()

*10- 3 tablodaki birer veriyi M ile degistirin.* Tamamlandı

*11- 3 tablodaki birer veriyi K ile degistirin.*

In [ ]:
"""
UPDATE rental
SET customer_id = 4
WHERE rental_id = 1;

UPDATE payment
SET customer_id = 2
WHERE payment_id = 1;

UPDATE language
SET name='English';
"""

*12- 3 tablodaki birer veriyi C ile degistirin.*

In [16]:
conn = psycopg2.connect("dbname=pycoders user= postgres password=1234")
cur = conn.cursor()
cur.execute('UPDATE inventory SET last_update = %s WHERE film_id = %s', (2024,1))
cur.close()
conn.commit()
conn.close()

In [20]:
conn = psycopg2.connect("dbname=pycoders user= postgres password=1234")
cur = conn.cursor()
cur.execute('UPDATE film_actor SET actor_id = %s WHERE film_id = %s', (6,1))
cur.close()
conn.commit()
conn.close()

In [19]:
conn = psycopg2.connect("dbname=pycoders user= postgres password=1234")
cur = conn.cursor()
cur.execute('UPDATE film_category SET category_id = %s WHERE film_id = %s', (7,2))
cur.close()
conn.commit()
conn.close()

*13- 3 tablonun son satirini M ile silin.* Tamamlandı

*14- 3 tablonun son satirini K ile silin.*

In [ ]:
"""
DELETE FROM rental WHERE rental_id IN 
(
    SELECT rental_id FROM rental
    ORDER BY rental_id
    DESC LIMIT 1)

DELETE FROM payment WHERE payment_id IN 
(
    SELECT payment_id FROM payment
    ORDER BY payment_id
    DESC LIMIT 1)

DELETE FROM language WHERE language_id IN 
(
    SELECT language_id FROM language
    ORDER BY language_id
    DESC LIMIT 1)
"""

*15- 3 tablonun son satirini C ile silin.*

In [33]:
conn = psycopg2.connect("dbname=pycoders user= postgres password=1234")
cur = conn.cursor()
cur.execute("DELETE FROM film_actor WHERE actor_id = %s",(4,))
cur.execute("DELETE FROM film_category WHERE category_id = %s",(6,))
cur.execute("DELETE FROM inventory WHERE inventory_id = %s",(6,))
cur.close()
conn.commit()
conn.close()

*16- 1 tabloyu M ile silin.* Tamamlandı.

*17- 1 tabloyu K ile silin.*

In [ ]:
"""
DROP TABLE actor;
"""

*18- 1 tabloyu C ile silin.*

In [ ]:
try:
    conn = psycopg2.connect("dbname=pycoders user= postgres password=1234")
    cur = conn.cursor()
    cur.execute("DROP table category")
    cur.close()
    conn.commit()
    conn.close()
except:
    print("error")
finally:
    conn.close()

*19- Kalan tablolardan 1 tanesinin 2 veya 3 sutununu K ile baska bir tablo olarak olusturun.*

In [ ]:
"""  
CREATE TABLE movies
AS SELECT film_id, title,release_year
FROM film;
"""

*20- Kalan tablolardan 1 tanesinin 2 veya 3 sutununu C ile baska bir tablo olarak olusturun.*

In [ ]:
conn = psycopg2.connect("dbname=pycoders user= postgres password=1234")
cur = conn.cursor()
cur.execute('CREATE TABLE new_rental AS SELECT rental_id, rental_date,inventory_id FROM rental')
cur.close()
conn.commit()
conn.close()

*21- Tablolardan 1 tanesini truncate edin.* (M) Tamamlandı.

*22- Tablolardan 1 tanesini truncate edin.* (K)

In [ ]:
"""
TRUNCATE TABLE language
"""

*23- Tablolardan 1 tanesini truncate edin.* (C)

In [36]:
conn = psycopg2.connect("dbname=pycoders user= postgres password=1234")
cur = conn.cursor()
cur.execute('TRUNCATE TABLE payment')
cur.close()
conn.commit()
conn.close()

*24- truncate edilmis tablolari M ile silin.* Tamamlandı

*25- 2 tabloyu K ile silin.*

In [ ]:
"""
DROP TABLE new_rental;
DROP TABLE new_inventory;
"""

*26- 2 tabloyu C ile silin.*

In [37]:
conn = psycopg2.connect("dbname=pycoders user= postgres password=1234")
cur = conn.cursor()
cur.execute('DROP TABLE rental')
cur.execute('DROP TABLE film_category')
cur.close()
conn.commit()
conn.close()

*27- Elimizde veri olan 1 tablo kalmis olmasi lazim. Tabloyu csv olarak bilgisayarınıza yukleyin.* Tamamlandı.

*28- Postgresql dizinindeki son tabloyu da K ile silin.*

In [ ]:
"""
DROP TABLE inventory;
"""

*29- Bilgisayarınızdaki csv yi arayuze import edin.* Sürekli hata alıyorum, bir türlü çözemedim

*30- import ettiğiniz bu tabloyu C ile silin.*

In [ ]:
conn = psycopg2.connect("dbname=pycoders user= postgres password=1234")
cur = conn.cursor()
cur.execute('DROP TABLE inventory')
cur.close()
conn.commit()
conn.close()

*31- https://www.postgresqltutorial.com/postgresql-sample-database/ linkindeki ornek DB yi bilgisayariniza indirin ve arayuze yukleyin.* Tamamlandı.

*32- DB nizde 15 adet tablo olmasi lazim. Her tabloyu teker teker goruntuleyin ve kolon isimlerine bakarak, 5 tablodaki hangi kolonun PK ve FK olduğunu yazin.*

In [ ]:
"""
film --> film_id (PK) - language_id (FK)
category --> category_id (PK)
film_actor --> actor_id, film_id (PK) - actor_id, film_id (FK)                  # aynı anda PK ve FK olabilir mi?
address --> address_id (PK) - city_if (FK)
payment --> payment_id (PK) - customer_id, rental_id, staff_id (FK)
"""

In [ ]:
# 33- Aksiyon filmlerinin ortalama suresi ne kadardır?
# Sayfalar: film ve film_category

"""
SELECT AVG(length) FROM film WHERE film_id IN ( SELECT film_id FROM film_category WHERE category_id=1 );
"""

In [ ]:
# 34- En cok staff olan store hangisidir?
# Sayfalar: staff

"""  
SELECT COUNT(staff_id) FROM staff GROUP BY store_id ORDER BY count LIMIT 1;
"""

In [ ]:
# 35- 'Gene Willis' adli aktörün filmlerinin reytingi nedir?
# Sayfalar: film, film_actor ve actor

"""
SELECT rating FROM film WHERE film_id IN 
( 
    SELECT film_id FROM film_actor 
    WHERE actor_id = (SELECT actor_id FROM actor WHERE first_name ='Gene' and last_name ='Willis') 
)
"""

In [ ]:
# 36- Aktif customer sayisi nedir?
# 584

"""
SELECT COUNT(*) FROM customer WHERE active = 1;
"""

In [ ]:
# 37-'C' harfiyle baslayan filmler nelerdir?

"""  
SELECT title FROM film WHERE title LIKE 'C%';
"""

In [ ]:
# 4$ den az odeme yapan musterilerin e-posta edresleri nedir?
# Sayfalar: customer ve payment

"""
SELECT email FROM customer WHERE customer_id IN (SELECT customer_id FROM payment WHERE amount<4 );
"""

In [ ]:
# 39- Moskova'da ikamet eden staff ve customer tablosu? (sadece isim/soyisim sütünları olsun)
# Sayfalar: customer, staff, address, city

"""
SELECT first_name,last_name FROM customer WHERE address_id IN (SELECT address_id FROM address WHERE city_id=(SELECT city_id FROM city WHERE city='Moscow'));
SELECT first_name,last_name FROM staff WHERE address_id IN (SELECT address_id FROM address WHERE city_id=(SELECT city_id FROM city WHERE city='Moscow'));
"""

In [ ]:
# 40- En az kiralanan 5 film?
# Sayfalar: inventıry, film

"""
CREATE TABLE new_table
AS SELECT film_id,COUNT(inventory_id) FROM inventory GROUP BY film_id ORDER BY COUNT LIMIT 5;

SELECT title FROM film WHERE film_id IN (SELECT film_id FROM new_table)
"""

In [ ]:
# 41- 2006 yilinda yayinlanan ingilizce filmler hangileridir?
# Sayfalar: film, language

"""
SELECT title FROM film WHERE release_year=2006 and language_id=(SELECT language_id FROM language WHERE name='English');
"""