In [ ]:
import psycopg2

2- 'class4' veritabanı olusturun (M). Veritabanı silindi (M). Ayni veri tabanı yine olusturun (K)

In [ ]:
'''create database class4;'''

3- https://www.postgresqltutorial.com/postgresql-sample-database/ gidiş ve ER modelini kullanarak. Tablolar arasindaki en az 5 iliskiyi yazin.(Hangi tablodaki arasinda ne tur bir iliski var)

In [ ]:
'''category-film_category:one to many
language-film:one to many
flm_category-film:many to many
address-city:many to many
customer-address:many to many'''

5- ER modeldeki tablolardan 3 tanesini K ile olusturun.

In [ ]:
'''create table category
(
    category_id integer primary key,
    name  varchar(15),
    last_update date
)'''

In [ ]:
'''create table film_category
(
    category_id integer primary key,
    film_id integer,
    last_update date
)'''

In [ ]:
'''create table language
(
    language_id integer primary key,
    name  varchar(15),
    last_update date
)'''

6- ER modeldeki tablolardan 3 tanesini C ile olusturun.

In [ ]:
conn = psycopg2.connect("dbname=dbfilm user=postgres password=bolusumeyra")
cur = conn.cursor()
command = '''create table payment
(
    payment_id integer primary key,
    customer_id integer,
    staff_id integer,
    rental_id integer,
    amount integer,
   payment_date date
)'''
cur.execute(command)
cur.close()
conn.commit()
conn.close()

In [ ]:
conn = psycopg2.connect("dbname=dbfilm user=postgres password=bolusumeyra")
cur = conn.cursor()
command = '''create table rental
(
    rental_id integer primary key,
    rental_date date,
    inventory_id integer,
    customer_id integer,
    return_date date,
    staff_id integer, 
    last_update date
)'''
cur.execute(command)
cur.close()
conn.commit()
conn.close()

In [ ]:
conn = psycopg2.connect("dbname=dbfilm user=postgres password=bolusumeyra")
cur = conn.cursor()
command = '''create table inventory
(
    inventory_id integer primary key,
    film_id integer,
    store_id integer, 
    last_update date
)'''
cur.execute(command)
cur.close()
conn.commit()
conn.close()

8- Olusturdugunuz 3 tabloya K ile 5 veri girişi yapin.

In [ ]:
'''insert into category (category_id,name,last_update) values (1,"drama","2023.02.14")
insert into category (category_id,name,last_update) values (2,"action","2023.02.14")
insert into category (category_id,name,last_update) values (3,"science fiction","2023.02.14")
insert into category (category_id,name,last_update) values (4,"history","2023.02.14")
insert into category (category_id,name,last_update) values (5,"musical","2023.02.14")'''

In [ ]:
'''insert into language ( language_id,name,last_update) values (07,"spanish","2023.02.14")
insert into language ( language_id,name,last_update) values (04,"english","2023.02.14")
insert into language ( language_id,name,last_update) values (03,"dutch","2023.02.14")
insert into language ( language_id,name,last_update) values (02,"french","2023.02.14")
insert into language ( language_id,name,last_update) values (05,"arabic","2023.02.14")'''

9- Olusturdugunuz 3 tabloya C ile 5 veri girişi yapin.

In [ ]:
conn = psycopg2.connect("dbname=dbfilm user=postgres password=bolusumeyra")
cur = conn.cursor()
cur.execute('INSERT INTO language VALUES(%s,%s,%s)',(1,"spanish","2023.02.14"))
cur.close()
conn.commit()
conn.close()

In [ ]:
conn = psycopg2.connect("dbname=dbfilm user=postgres password=bolusumeyra")
cur = conn.cursor()
cur.execute('INSERT INTO language VALUES(%s,%s,%s)',(3,"french","2023.02.14"))
cur.close()
conn.commit()
conn.close()

In [ ]:
conn = psycopg2.connect("dbname=dbfilm user=postgres password=bolusumeyra")
cur = conn.cursor()
cur.execute('INSERT INTO language VALUES(%s,%s,%s)',(5,"english","2023.02.14"))
cur.close()
conn.commit()
conn.close()

In [ ]:
conn = psycopg2.connect("dbname=dbfilm user=postgres password=bolusumeyra")
cur = conn.cursor()
cur.execute('INSERT INTO language VALUES(%s,%s,%s)',(4,"english","2023.02.14"))
cur.close()
conn.commit()
conn.close()

In [ ]:
conn = psycopg2.connect("dbname=dbfilm user=postgres password=bolusumeyra")
cur = conn.cursor()
cur.execute('INSERT INTO language VALUES(%s,%s,%s)',(7,"spanish","2023.02.14"))
cur.close()
conn.commit()
conn.close()

In [ ]:
conn = psycopg2.connect("dbname=dbfilm user=postgres password=bolusumeyra")
cur = conn.cursor()
cur.execute('INSERT INTO payment VALUES(%s,%s,%s,%s,%s,%s)',(12,34,65,76,32,"2023.02.14"))
cur.close()
conn.commit()
conn.close()

In [ ]:
conn = psycopg2.connect("dbname=dbfilm user=postgres password=bolusumeyra")
cur = conn.cursor()
cur.execute('INSERT INTO payment VALUES(%s,%s,%s,%s,%s,%s)',(72,64,55,36,32,"2023.02.14"))
cur.close()
conn.commit()
conn.close()

In [ ]:
conn = psycopg2.connect("dbname=dbfilm user=postgres password=bolusumeyra")
cur = conn.cursor()
cur.execute('INSERT INTO payment VALUES(%s,%s,%s,%s,%s,%s)',(15,33,45,73,31,"2023.02.14"))
cur.close()
conn.commit()
conn.close()

In [ ]:
conn = psycopg2.connect("dbname=dbfilm user=postgres password=bolusumeyra")
cur = conn.cursor()
cur.execute('INSERT INTO payment VALUES(%s,%s,%s,%s,%s,%s)',(23,76,54,32,21,"2023.02.14"))
cur.close()
conn.commit()
conn.close()

In [ ]:
conn = psycopg2.connect("dbname=dbfilm user=postgres password=bolusumeyra")
cur = conn.cursor()
cur.execute('INSERT INTO payment VALUES(%s,%s,%s,%s,%s,%s)',(90,45,67,87,98,"2023.02.14"))
cur.close()
conn.commit()
conn.close()

In [ ]:
conn = psycopg2.connect("dbname=dbfilm user=postgres password=bolusumeyra")
cur = conn.cursor()
cur.execute('INSERT INTO rental VALUES(%s,%s,%s,%s,%s,%s,%s)',(12,"2020.12.21",65,76,"2022.06.15",23,"2023.02.14"))
cur.close()
conn.commit()
conn.close()

In [ ]:
conn = psycopg2.connect("dbname=dbfilm user=postgres password=bolusumeyra")
cur = conn.cursor()
cur.execute('INSERT INTO rental VALUES(%s,%s,%s,%s,%s,%s,%s)',(65,"2020.11.23",64,87,"2022.05.15",24,"2023.02.14"))
cur.close()
conn.commit()
conn.close()

In [ ]:
conn = psycopg2.connect("dbname=dbfilm user=postgres password=bolusumeyra")
cur = conn.cursor()
cur.execute('INSERT INTO rental VALUES(%s,%s,%s,%s,%s,%s,%s)',(67,"2020.07.23",14,37,"2022.05.15",44,"2023.02.14"))
cur.close()
conn.commit()
conn.close()

In [ ]:
conn = psycopg2.connect("dbname=dbfilm user=postgres password=bolusumeyra")
cur = conn.cursor()
cur.execute('INSERT INTO rental VALUES(%s,%s,%s,%s,%s,%s,%s)',(24,"2020.11.13",32,47,"2022.05.15",34,"2023.02.14"))
cur.close()
conn.commit()
conn.close()

In [ ]:
conn = psycopg2.connect("dbname=dbfilm user=postgres password=bolusumeyra")
cur = conn.cursor()
cur.execute('INSERT INTO rental VALUES(%s,%s,%s,%s,%s,%s,%s)',(61,"2020.01.23",68,97,"2022.09.15",24,"2023.02.14"))
cur.close()
conn.commit()
conn.close()

11- 3 tablodaki birer veriyi K ile degistirin.

In [ ]:
'''UPDATE language SET name='turkish' WHERE name='spanish';
UPDATE category SET category_id='7' WHERE category_id='1';
UPDATE city SET city='Baku' WHERE city_id='2';'''

12- 3 tablodaki birer veriyi C ile degistirin.

In [ ]:
conn = psycopg2.connect("dbname=dbfilm user=postgres password=bolusumeyra")
cur = conn.cursor()
cur.execute('UPDATE  language SET language_id=%s WHERE name=%s',(2,"french"))
cur.close()
conn.commit()
conn.close()

In [ ]:
conn = psycopg2.connect("dbname=dbfilm user=postgres password=bolusumeyra")
cur = conn.cursor()
cur.execute('UPDATE payment SET payment_id=%s WHERE staff_id=%s',(22,54))
cur.close()
conn.commit()
conn.close()

In [ ]:
conn = psycopg2.connect("dbname=dbfilm user=postgres password=bolusumeyra")
cur = conn.cursor()
cur.execute('UPDATE  rental SET rental_date=%s  WHERE inventory_id=%s',("2020.06.14",68))
cur.close()
conn.commit()
conn.close()

14- 3 tablonun son satirini K ile silin.

In [ ]:
'''DELETE FROM store WHERE store_id=5 ;
DELETE FROM inventory WHERE inventory_id=5 OR film_id=5 ;
DELETE FROM actor WHERE actor_id=10;'''

15- 3 tablonun son satirini C ile silin.

In [ ]:
conn = psycopg2.connect("dbname=dbfilm user=postgres password=bolusumeyra")
cur = conn.cursor()
cur.execute("DELETE FROM language WHERE language_id = %s",(7,))
cur.close()
conn.commit()
conn.close()

In [ ]:
conn = psycopg2.connect("dbname=dbfilm user=postgres password=bolusumeyra")
cur = conn.cursor()
cur.execute("DELETE FROM payment WHERE payment_id = %s",(90,))
cur.close()
conn.commit()
conn.close()

In [ ]:

conn = psycopg2.connect("dbname=dbfilm user=postgres password=bolusumeyra")
cur = conn.cursor()
cur.execute("DELETE FROM rental WHERE rental_id = %s",(72,))
cur.close()
conn.commit()
conn.close()

17- 1 tabloyu K ile silin.

In [ ]:
'''DROP table film'''

18- 1 tabloyu C ile silin.

In [ ]:
conn = psycopg2.connect("dbname=dbfilm user=postgres password=bolusumeyra")
cur = conn.cursor()
cur.execute("DROP table language")
cur.close()
conn.commit()
conn.close()

20- Kalan tablolardan 1 tanesinin 2 veya 3 sutununu C ile baska bir tablo olarak olusturun.

In [ ]:
conn = psycopg2.connect("dbname=dbfilm user=postgres password=bolusumeyra")
cur = conn.cursor()
cur.execute("CREATE table pay_test as select payment_id,customer_id,amount")
cur.close()
conn.commit()
conn.close()

23- Tablolardan 1 tanesini truncate edin.

In [ ]:
conn = psycopg2.connect("dbname=dbfilm user=postgres password=bolusumeyra")
cur = conn.cursor()
cur.execute("TRUNCATE table city")
cur.close()
conn.commit()
conn.close()

26- 2 tabloyu C ile silin

In [ ]:
conn = psycopg2.connect("dbname=dbfilm user=postgres password=bolusumeyra")
cur = conn.cursor()
cur.execute("DROP table rental")
cur.close()
conn.commit()
conn.close()

In [ ]:
conn = psycopg2.connect("dbname=dbfilm user=postgres password=bolusumeyra")
cur = conn.cursor()
cur.execute("DROP table staff")
cur.close()
conn.commit()
conn.close()

32- DB nizde 15 adet tablo olmasi lazim. Her tabloyu teker teker goruntuleyin ve kolon isimlerine bakarak, 5 tablodaki hangi kolonun PK ve FK olduğunu yazin.

In [ ]:
'''actor-actor_id:PK
address -city_id:FK
city-country_id:FK
country-country_id:PK
category-category_id:PK'''

33-Aksiyon filmlerinin ortalama suresi ne kadardır?

In [ ]:
'''select avg(length) from film where film_id in(select film_id from film_category where category_id=1)'''

34- En cok staff olan store hangisidir?

In [ ]:
'''select count(*) from store where store_id in (select store_id from staff)'''

35- 'Gene Willis' adli aktörün filmlerinin reytingi nedir?

In [ ]:
'''
select rating from film where film_id in (select film_id from film_actor where actor_id=(select actor_id from actor where first_name='Gene' and last_name='Willis'))'''

36- Aktif customer sayisi nedir?

In [ ]:
'''select count(activebool) from customer where activebool=True'''

37-'C' harfiyle baslayan filmler nelerdir?

In [ ]:
'''select title from film where title like 'C%' '''

38- 4$ den az odeme yapan musterilerin e-posta edresleri nedir?

In [ ]:
'''select email from customer where customer_id in(select customer_id from payment where amount<4)'''

39- Moskova'da ikamet eden staff ve customer tablosu? (sadece isim/soyisim sütünları olsun)

In [ ]:
'''select first_name,last_name from customer where address_id in (select address_id from address where city_id=343)'''

40- En az kiralanan 5 film?

In [ ]:
'''select title from film where film_id in (select film_id from inventory where inventory_id in (select inventory_id from rental)group by film_id order by sum(inventory_id)limit 5 )'''

41- 2006 yilinda yayinlanan ingilizce filmler hangileridir?

In [ ]:
'''select title from film where release_year='2006' and language_id=1'''