In [2]:
import psycopg2

In [1]:
# (M:Manuel olarak, K:SQL komutlarıyla, C:Python kodlariyla)
# Asagidaki sorudan K ve C ile cozulmesini tasdikimizin cozumlerini (komüt kodlarini) ustte test veya altta cozumu sekilde bir dosyaya yapistirip gondermenizi istiyoruz.
# 1- 'pycoders' isimli bir server kurun. (M)
#Kuruldu

In [ ]:
# 2- 'class4' veritabanı olusturun (M). Veritabanı silindi (M). Ayni veri tabanı yine olusturun (K)
#Oluşturuldu. Silindi
CREATE DATABASE class4;

In [2]:
# 3- https://www.postgresqltutorial.com/postgresql-sample-database/ gidiş ve ER modelini kullanarak.
# Tablolar arasindaki en az 5 iliskiyi yazin.(Hangi tablodaki arasinda ne tur bir iliski var)
''' 
One to one
film_actor -> film , film_actor -> actor
One to many
country->city , city->adress
many to one
language -> film

'''

In [ ]:
# 4- ER modeldeki tablolardan 3 tanesini M ile olusturun.
#Oluşturuldu.

In [ ]:
# 5- ER modeldeki tablolardan 3 tanesini K ile olusturun.
CREATE TABLE category (
 category_id INT PRIMARY KEY,
 name VARCHAR(50),
 last_update VARCHAR(50)
 );

CREATE TABLE film_category (
 film_id INT PRIMARY KEY,
 category_id INT,
 last_update timestamp without time zone
 );

CREATE TABLE address (
 address_id INT PRIMARY KEY,
 address character varying (50),
 address2 character varying (50),
 district character varying (20),
 city_id smallint,
 postal_code character varying (10),
 phone character varying (20),
 last_update timestamp without time zone
 );

In [4]:
# 6- ER modeldeki tablolardan 3 tanesini C ile olusturun.
conn = psycopg2.connect("dbname=class4 user= postgres password=123")
cur = conn.cursor()
command = '''create table payment
(
    payment_id integer primary key,
    customer_id smallint,
    staff_id smallint,
    rental_id integer,
    amount numeric(5,2),
    payment_date timestamp without time zone
)'''
cur.execute(command)
cur.close() 
conn.commit() 
conn.close()

In [10]:
conn = psycopg2.connect("dbname=class4 user= postgres password=123")
cur = conn.cursor()
command = '''create table film
(
    film_id integer primary key,
    title character varying(255),
    description text,
    release_year integer,
    language_id smallint,
    rental_duration smallint,
    rental_rate numeric(4,2),
    length smallint,
    replacement_cost numeric(5,2),
    rating varchar(2),
    last_update timestamp without time zone,
    special_features text[],
    fulltext tsvector    
)'''
cur.execute(command)
cur.close() 
conn.commit() 
conn.close()

In [11]:
conn = psycopg2.connect("dbname=class4 user= postgres password=123")
cur = conn.cursor()
command = '''create table city
(
    city_id integer primary key,
    city character varying(50),
    country_id smallint,
    last_update timestamp without time zone      
)'''
cur.execute(command)
cur.close() 
conn.commit() 
conn.close()

In [ ]:
# 7- Olusturdugunuz 3 tabloya M ile 5 veri girişi yapin.
#Yapıldı (address-film-customer)

In [ ]:
# 8- Olusturdugunuz 3 tabloya K ile 5 veri girişi yapin.
#payment-rental-inventory
# 3 Tabloya ayrı ayrı 5 veri girişi yaptım, sadece 1 örneği buraya yazdım.
INSERT INTO payment (payment_id, customer_id, staff_id,rental_id, amount,payment_date)
VALUES (17503,341,2,1520,7.99,'2007-02-15 22:25');

INSERT INTO rental (rental_id, rental_date, inventory_id, customer_id,return_date, staff_id,last_update)
VALUES (1,'2005-05-24 22:53:30', 367, 130,'2005-05-26 22:04:30',1,'2006-02-15 21:30:53');

INSERT INTO inventory (inventory_id, film_id, store_id,last_update)
VALUES (1,3,2,'2006-02-15 21:30:53');

In [18]:
# 9- Olusturdugunuz 3 tabloya C ile 5 veri girişi yapin.
# 3 Tabloya ayrı ayrı 5 veri girişi yaptım, sadece 1 örneği buraya yazdım.
conn = psycopg2.connect("dbname=class4 user= postgres password=123")
cur = conn.cursor()
cur.execute('INSERT INTO film_category VALUES(%s, %s, %s)',(5,11,"2006-02-15 10:07:09"))
cur.close() 
conn.commit() 
conn.close()

In [29]:
conn = psycopg2.connect("dbname=class4 user= postgres password=123")
cur = conn.cursor()
cur.execute('INSERT INTO city VALUES(%s, %s, %s,%s)',(5,'Ede',67,"2006-02-15 10:07:09"))
cur.close() 
conn.commit() 
conn.close()

In [34]:
conn = psycopg2.connect("dbname=class4 user= postgres password=123")
cur = conn.cursor()
cur.execute('INSERT INTO category VALUES(%s, %s, %s)',(5,'Family',"2006-02-15 10:07:09"))
cur.close() 
conn.commit() 
conn.close()

In [ ]:
# 10- 3 tablodaki birer veriyi M ile degistirin.
#address-category-city tablolarında değiştirdim.

In [ ]:
# 11- 3 tablodaki birer veriyi K ile degistirin.
UPDATE customer
SET first_name = 'Adem'
WHERE customer_id = 1;

UPDATE film
SET title = 'Legendary'
WHERE film_id = 3;

UPDATE film_category
SET category_id = 11
WHERE film_id = 3;

In [36]:
# 12- 3 tablodaki birer veriyi C ile degistirin.
conn = psycopg2.connect("dbname=class4 user= postgres password=123")
cur = conn.cursor()
cur.execute('UPDATE urun SET store_id=%s WHERE inventory_id=%s',(2,1))
cur.close() 
conn.commit() 
conn.close()

In [ ]:
# 13- 3 tablonun son satirini M ile silin.
#payment-film_category-film tablolarının son satırı silindi.

In [ ]:
# 14- 3 tablonun son satirini K ile silin.

DELETE FROM payment WHERE payment_id=(SELECT MAX(payment_id) FROM payment)

DELETE FROM customer WHERE customer_id=(SELECT MAX(customer_id) FROM customer)

DELETE FROM category WHERE category_id=(SELECT MAX(category_id) FROM category)

In [41]:
# 15- 3 tablonun son satirini C ile silin.
conn = psycopg2.connect("dbname=class4 user= postgres password=123")
cur = conn.cursor()
cur.execute("DELETE FROM address WHERE address_id=(SELECT MAX(address_id) FROM address)")
cur.close() 
conn.commit() 
conn.close()

In [42]:
conn = psycopg2.connect("dbname=class4 user= postgres password=123")
cur = conn.cursor()
cur.execute("DELETE FROM rental WHERE inventory_id=(SELECT MAX(inventory_id) FROM rental)")
cur.close() 
conn.commit() 
conn.close()

In [43]:
conn = psycopg2.connect("dbname=class4 user= postgres password=123")
cur = conn.cursor()
cur.execute("DELETE FROM city WHERE city_id=(SELECT MAX(city_id) FROM city)")
cur.close() 
conn.commit() 
conn.close()

In [ ]:
# 16- 1 tabloyu M ile silin.
#film tablosu silindi

In [ ]:
# 17- 1 tabloyu K ile silin.
DROP TABLE IF EXISTS rental;

In [44]:
# 18- 1 tabloyu C ile silin.
conn = psycopg2.connect("dbname=class4 user= postgres password=123")
cur = conn.cursor()
cur.execute("DROP table if exists payment")
cur.close() 
conn.commit() 
conn.close()

In [ ]:
# 19- Kalan tablolardan 1 tanesinin 2 veya 3 sutununu K ile baska bir tablo olarak olusturun.
CREATE TABLE new_table AS
SELECT * FROM my_table
LIMIT 2;

In [46]:
# 20- Kalan tablolardan 1 tanesinin 2 veya 3 sutununu C ile baska bir tablo olarak olusturun.
conn = psycopg2.connect("dbname=class4 user= postgres password=123")
cur = conn.cursor()
cur.execute("CREATE TABLE new_adress AS SELECT * FROM address LIMIT 2;")
cur.close() 
conn.commit() 
conn.close()

In [ ]:
# 21- Tablolardan 1 tanesini truncate edin.
#new_adress truncate edildi.

In [ ]:
# 22- Tablolardan 1 tanesini K truncate edin.
TRUNCATE TABLE new_customer;

In [47]:
# 23- Tablolardan 1 tanesini  C truncate edin.
conn = psycopg2.connect("dbname=class4 user= postgres password=123")
cur = conn.cursor()
cur.execute("TRUNCATE TABLE inventory;")
cur.close() 
conn.commit() 
conn.close()

In [ ]:
# 24- truncate edilmis tablolari M ile silin.
#new_adress-new_customer-inventory tabloları silindi

In [ ]:
# 25- 2 tabloyu K ile silin.
DROP TABLE film_category;
DROP TABLE customer;

In [48]:
# 26- 2 tabloyu C ile silin.
conn = psycopg2.connect("dbname=class4 user= postgres password=123")
cur = conn.cursor()
cur.execute("DROP TABLE city;")
cur.close() 
conn.commit() 
conn.close()

In [49]:
conn = psycopg2.connect("dbname=class4 user= postgres password=123")
cur = conn.cursor()
cur.execute("DROP TABLE category;")
cur.close() 
conn.commit() 
conn.close()

In [ ]:
# 27- Elimizde veri olan 1 tablo kalmis olmasi lazim. Tabloyu csv olarak bilgisayarınıza yukleyin.
#the upload was done from the export tab

In [ ]:
# 28- Postgresql dizinindeki son tabloyu da K ile silin.
#last table deleted

In [ ]:
# 29- Bilgisayarınızdaki csv yi arayuze import edin.
#data imported

In [4]:
# 30- import ettiğiniz bu tabloyu C ile silin.
conn = psycopg2.connect("dbname=class4 user= postgres password=123")
cur = conn.cursor()
cur.execute("DROP table address")
cur.close() 
conn.commit() 
conn.close()

In [ ]:
# 31- https://www.postgresqltutorial.com/postgresql-sample-database/ linkindeki ornek DB yi bilgisayariniza indirin ve arayuze yukleyin.
#data loaded

In [ ]:
# 32- DB nizde 15 adet tablo olmasi lazim. Her tabloyu teker teker goruntuleyin ve kolon isimlerine bakarak, 5 tablodaki hangi kolonun PK ve FK olduğunu yazin.
inventory table -> inventory_id = PK , film_id = FK 
address table -> address_id = PK , city_id = FK
payment table -> payment_id = PK, customer_id = FK
rental_table -> rental_id = PK, inventory_id = FK
film table -> film_id = PK, language_id = FK

In [ ]:
# (Asagi'deki sorularıin sayfasınıini ve bu cedakibi bulurken kullandiginiz kodlari yazin)
# 33- Aksiyon filmlerinin ortalama suresi ne kadardır?
SELECT AVG(length) FROM film WHERE film_id IN (SELECT film_id FROM film_category WHERE category_id=1 )

In [ ]:
# 34- En cok staff olan store hangisidir?

In [ ]:
# 35- 'Gene Willis' adli aktörün filmlerinin reytingi nedir?
SELECT rating FROM film WHERE film_id IN (SELECT film_id FROM film_actor WHERE actor_id =(SELECT actor_id FROM actor WHERE first_name ='Gene' AND last_name ='Willis'))

In [ ]:
# 36- Aktif customer sayisi nedir?
SELECT COUNT(*) FROM customer WHERE active = 1

In [ ]:
# 37-'C' harfiyle baslayan filmler nelerdir?
SELECT title FROM film WHERE title LIKE 'C%'

In [ ]:
# 38- 4$ den az odeme yapan musterilerin e-posta edresleri nedir?
SELECT email FROM customer WHERE customer_id IN (SELECT customer_id FROM payment WHERE amount < 4)

In [ ]:
# 39- Moskova'da ikamet eden staff ve customer tablosu? (sadece isim/soyisim sütünları olsun)
SELECT first_name, last_name FROM staff WHERE address_id IN (SELECT city_id FROM city WHERE city= 'Moscow')
UNION 
SELECT first_name, last_name FROM customer WHERE address_id IN (SELECT city_id FROM city WHERE city= 'Moscow')

In [ ]:
# 40- En az kiralanan 5 film?
SELECT title FROM film ORDER BY rental_rate ASC LIMIT 5;

In [ ]:
# 41- 2006 yilinda yayinlanan ingilizce filmler hangileridir?
SELECT title FROM film WHERE release_year=2006 AND language_id IN (SELECT language_id FROM language WHERE name='English' )