# NumPy Homework

# A

## 1) import numpy library with his usual alias!

In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display

In [41]:
import numpy as np
import pandas as pd
 
data = np.random.randint(5, 35, size=3)
df = pd.DataFrame(data, columns=['random_numbers'])
 
# displaying random integers in data frame
print(df)

   random_numbers
0               8
1               5
2              19

## 2) Create a random matrix, which has 2 columns and 20 rows. With this we will then create a pandas DataFrame!

In [42]:
ratings_values = np.random.randint(0,100, size = (20,2))
ratings = pd.DataFrame(ratings_values, columns=['Price', 'Quality'])
print(ratings_values)
print()
display(ratings)

[[37 48]
 [35 34]
 [77 40]
 [58 34]
 [15 50]
 [81 77]
 [45 46]
 [27  5]
 [87 28]
 [50 42]
 [64 11]
 [51 10]
 [93 72]
 [94 44]
 [75 77]
 [62 73]
 [67 21]
 [12 74]
 [99 57]
 [89  2]]

    Price  Quality
0      37       48
1      35       34
2      77       40
3      58       34
4      15       50
5      81       77
6      45       46
7      27        5
8      87       28
9      50       42
10     64       11
11     51       10
12     93       72
13     94       44
14     75       77
15     62       73
16     67       21
17     12       74
18     99       57
19     89        2

## 3) Create two vectors from the previous DataFrame. We will use the same values from the previous DataFrame which we already have been created. The first one contains the evaluations which show the customer satisfaction for the prices, and the second one contains for the quality. How big how good! We will then print the vectors.

##### Hint: pd.DataFrame['column_name'] gives us a Series from a DataFrame. We can use it with the same functions as DataFrames.

In [60]:

#price = ratings.loc[:, 'Price']
#quality = ratings.loc[:, 'Quality']
price =  ratings['Price'].values
quality =ratings['Quality'].values
print('Price: ', price)
print('Quality: ', quality)

Price:  [37 35 77 58 15 81 45 27 87 50 64 51 93 94 75 62 67 12 99 89]
Quality:  [48 34 40 34 50 77 46  5 28 42 11 10 72 44 77 73 21 74 57  2]

## 4) Find the total numbers of visitors.

In [44]:
visitors_count = # < write your code here >

print('Number of visitors:', visitors_count)

SyntaxError: invalid syntax (2937793994.py, line 1)

## 5) Find and print the average ratings for each column using numpy functions (we will find the mean and median values)

In [61]:
print('The mean of the price ratings: ', np.mean(price)) # < write your code here >
print('The median of the price ratings', np.median(price)) # < write your code here >

print('The mean of the quality ratings: ', np.mean(quality)) # < write your code here >
print('The median of the quality ratings', np.median(quality)) # < write your code here >

The mean of the price ratings:  60.9
The median of the price ratings 63.0
The mean of the quality ratings:  42.25
The median of the quality ratings 43.0

## 6) Create a new vector which is the average of the ratings of two columns, price and quality. We will name it as mean_ratings. It will show the average rating for each customer. Round elements of the array to the nearest integer.

In [62]:
price_ratings = price[:,0]
quality_ratings = quality[:,1]
mean_ratings = np.round(price_ratings + quality_ratings / 2)
print(mean_ratings)

IndexError: too many indices for array: array is 1-dimensional, but 2 were indexed

## 7) Create ratings_values matrix again with the all three vectors. Average ratings, which has just been calculated in the previous exercise, should be the third column of the new matrix. All values in the matrix should be integer! New matrix should have 20 rows and 3 columns!

In [ ]:
new_ratings_values = # < write your code here >
print(new_ratings_values)
print(type(new_ratings_values))
print(new_ratings_values.shape)

In [ ]:
new_ratings = pd.DataFrame(new_ratings_values, columns=['Price', 'Quality', 'Average'])
display(new_ratings)

# B

## 1) Create *Mean Absolute Error (MAE)* function

\begin{equation}
MAE=\frac{1}{n}\sum_{i=1}^n|target_i - predictions_i|
\end{equation}

In [46]:


# Generate random target and predictions arrays
t = np.random.rand(10)
p = np.random.rand(10)
target = np.round(t,2)
predictions = np.round(p,2)


print(target)
print(predictions)
print("**********************")
def mae(target, predictions):
    n = target.size
    return ((target - predictions) ** 2).sum() / n

print(mae(target, predictions))

[0.32 0.74 0.39 0.66 0.19 0.92 0.57 0.99 0.37 0.61]
[0.06 0.86 0.97 0.03 0.82 0.17 0.56 0.66 0.96 0.5 ]
**********************
0.22438999999999995

## 2) Create two arrays each of them has $100$ observations. We will use them for *target* and *predictions* labelling. The target array should consist only $0$ or $1$ values which are random created, while predictions only integer $1$. The target array should have a *binomial distribution* which gives $1$ with $60$% probability.

In [47]:

target = np.random.binomial(n=1 , p=0.6,  size = 100) # type: ignore
#predictions = np.random.randint(1,100,100)

predictions = np.ones(100, dtype=int)

print(target)
print()
print(predictions)

[1 0 1 1 1 0 1 0 0 1 0 0 1 1 0 1 1 1 0 1 0 1 0 1 1 1 0 0 1 1 0 1 1 0 0 0 1
 1 1 0 0 1 1 0 0 0 1 1 1 1 1 1 1 0 1 1 1 0 1 0 1 0 1 1 0 1 0 1 0 1 1 0 1 0
 1 0 0 1 1 0 0 0 1 0 1 1 1 1 1 1 1 0 1 1 1 0 0 0 0 0]

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

## 3) Find the *MAE* with your mae function

In [48]:
def mse1(target, predictions):
    n = target.size
    return ((target - predictions) ** 2).sum() / n

print(mse1(target, predictions))

0.42

In [49]:
n= target.size
mean_absolute_error = ((target - predictions) ** 2).sum() / n
print(mean_absolute_error)

0.42

## 4)  Run the code in this step. Observe the printed outputs. Try to run the codes a few times from step 2. What do you think about the results? Give your thoughts shortly with 3 - 5 sentences about why two outputs are the same. What is your conclusion?

In [50]:
print(1-np.mean(target))

print(mean_absolute_error)

0.42000000000000004
0.42

 ### < write your conclusion here >

## 5) We have always chosen $1$ in our predictions, but the actual values at the target have changed each time. How likely is it that we got it right each time, and what determines this?

 ### < write your answer here >

# C

## 1) Create a Pythagorean function using *np.dot()* to calculate vector length

$$v = [x, y] ==> len_v = \sqrt{x^2+y^2}$$

In [64]:
def pythagorean_length(vektör):
    return np.sqrt(np.dot(vektör, vektör))

## 2) Calculate the length of the given vector using your *pythagorean_length* function and check your result comparing with the given

In [65]:
a = np.array([3, 4])

print(pythagorean_length(a)) # < write your code here >

print(((a[0] ** 2) + (a[1] ** 2)) ** 0.5)

5.0
5.0

## 3) Find the shortest distance (Euclidean distance) using *np.dot()* between the given two vectors and compare the results to check

In [66]:
a = np.array([5, 6])
b = np.array([1, 3])
#euclidean_distance = np.linalg.norm(a - b)

c = euclidean_distance = np.linalg.norm(a - b)
print('The distance between a and b is', c)

from scipy.spatial import distance
print('The distance between a and b should be', distance.euclidean(a, b))

The distance between a and b is 5.0
The distance between a and b should be 5.0

# D - Obfuscating Data

It is best to obfuscate data by multiplying the numerical features (they can be seen as the matrix $X$) by an invertible matrix $P$. 

$$
X' = X \times P
$$

Try to do that and check how the features' values will look like after the transformation. By the way, the invertible property is important here so make sure that $P$ is indeed invertible.

In [74]:
# pd.DataFrame
columns = ['gender', 'age', 'salary', 'family_members']
data = np.array([np.random.choice([0, 1], size=1000), 
                 np.random.randint(18, 100, 1000), 
                 np.random.normal(25000, 5000, 1000).astype(int), 
                 np.random.randint(0, 10, 1000)
                ])

personal_data = pd.DataFrame(data.T, columns=columns)
display(personal_data.tail(10))

     gender  age  salary  family_members
990       0   71   29260               4
991       0   81   24932               8
992       1   37   25355               4
993       0   95   18761               0
994       1   89   32028               1
995       0   18   27336               4
996       1   69   21862               8
997       0   21   25333               6
998       1   19   24182               4
999       1   43   31864               9

In [72]:
X = personal_data.values

In [ ]:
P = np.linalg.inv(X)

print(P)

# < write your code here >

**(Hint:** https://numpy.org/doc/stable/reference/random/generator.html **)**

In [ ]:
# < write your code here >

In [ ]:
# < write your code here >

#### Can you guess the customers' ages or income after the transformation?

In [ ]:
# Secure Data
pd.DataFrame(<............>).describe() # < write your code here >

#### write your conlusion here
...

#### Can you recover the original data from $X'$ if you know $P$? Try to check that with calculations by moving $P$ from the right side of the formula above to the left one. The rules of matrix multiplication are really helpful here.

In [ ]:
# < write your code here >

In [ ]:
# Printing all three cases for a few customers

In [ ]:
# Original Data
personal_data.tail(10)

In [ ]:
# Secure Data
pd.DataFrame(<............>).tail(10)  # < write your code here >

In [ ]:
# Recovered Data
pd.set_option('display.float_format', '{:.2f}'.format)
pd.DataFrame(<............>).astype('int').tail(10) # < write your code here >

#### write your conlusion here
...

---

# USEFUL INFORMATIONS

##### Matrices and Matrix Operations

- **A matrix** is a rectangular numeric table or two-dimensional array consisting of m rows and n columns.
- **A transpose of the matrix** is a matrix operation when its rows become columns with the same numbers.- **Dummy code** is a simple code that doesn't mean anything.
- **An identity matrix** is a square matrix with ones on the main diagonal and zeros elsewhere.
- **An inverse matrix** for a square matrix A is a matrix A with a superscript -1 whose product with A is equal to the identity matrix.
- **Invertible matrices** are matrices that have an inverse.
- **Non-invertible** are matrices that don't have an inverse.

# Properties of Matrices

Matrices have many properties in Linear Algebra. A few of them are listed here which can help with the analytical proof in this project.

<table>
<tr>
<td>Distributivity</td><td>$A(B+C)=AB+AC$</td>
</tr>
<tr>
<td>Non-commutativity</td><td>$AB \neq BA$</td>
</tr>
<tr>
<td>Associative property of multiplication</td><td>$(AB)C = A(BC)$</td>
</tr>
<tr>
<td>Multiplicative identity property</td><td>$IA = AI = A$</td>
</tr>
<tr>
<td></td><td>$A^{-1}A = AA^{-1} = I$
</td>
</tr>    
<tr>
<td></td><td>$(AB)^{-1} = B^{-1}A^{-1}$</td>
</tr>    
<tr>
<td>Reversivity of the transpose of a product of matrices,</td><td>$(AB)^T = B^TA^T$</td>
</tr>    
</table>

---