# NumPy Homework

# A

## 1) import numpy library with his usual alias!

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display

## 2) Create a random matrix, which has 2 columns and 20 rows. With this we will then create a pandas DataFrame!

In [2]:
ratings_values = np.random.rand(20,2)
ratings = pd.DataFrame(ratings_values, columns=['Price', 'Quality'])
print(ratings_values)
print()
display(ratings)

[[0.68174984 0.14957192]
 [0.87324956 0.52804553]
 [0.19315175 0.12710499]
 [0.3342174  0.96982431]
 [0.11282782 0.50770316]
 [0.95095101 0.41519425]
 [0.87855988 0.18665243]
 [0.15587909 0.78069582]
 [0.6744     0.9516136 ]
 [0.19857852 0.5202094 ]
 [0.2560297  0.32661437]
 [0.94531433 0.46663508]
 [0.81066365 0.64544224]
 [0.31167366 0.15823798]
 [0.3198169  0.0479952 ]
 [0.39473421 0.3173322 ]
 [0.75857072 0.52968223]
 [0.57342523 0.9336648 ]
 [0.89317396 0.91078463]
 [0.28683172 0.7497398 ]]

       Price   Quality
0   0.681750  0.149572
1   0.873250  0.528046
2   0.193152  0.127105
3   0.334217  0.969824
4   0.112828  0.507703
5   0.950951  0.415194
6   0.878560  0.186652
7   0.155879  0.780696
8   0.674400  0.951614
9   0.198579  0.520209
10  0.256030  0.326614
11  0.945314  0.466635
12  0.810664  0.645442
13  0.311674  0.158238
14  0.319817  0.047995
15  0.394734  0.317332
16  0.758571  0.529682
17  0.573425  0.933665
18  0.893174  0.910785
19  0.286832  0.749740

## 3) Create two vectors from the previous DataFrame. We will use the same values from the previous DataFrame which we already have been created. The first one contains the evaluations which show the customer satisfaction for the prices, and the second one contains for the quality. How big how good! We will then print the vectors.

##### Hint: pd.DataFrame['column_name'] gives us a Series from a DataFrame. We can use it with the same functions as DataFrames.

In [3]:
price =ratings['Price']  
quality = ratings['Quality']


print('Price: ', price)
print('Quality: ', quality)

Price:  0     0.681750
1     0.873250
2     0.193152
3     0.334217
4     0.112828
5     0.950951
6     0.878560
7     0.155879
8     0.674400
9     0.198579
10    0.256030
11    0.945314
12    0.810664
13    0.311674
14    0.319817
15    0.394734
16    0.758571
17    0.573425
18    0.893174
19    0.286832
Name: Price, dtype: float64
Quality:  0     0.149572
1     0.528046
2     0.127105
3     0.969824
4     0.507703
5     0.415194
6     0.186652
7     0.780696
8     0.951614
9     0.520209
10    0.326614
11    0.466635
12    0.645442
13    0.158238
14    0.047995
15    0.317332
16    0.529682
17    0.933665
18    0.910785
19    0.749740
Name: Quality, dtype: float64

## 4) Find the total numbers of visitors.

In [4]:
visitors_count = ratings.shape[0]

print('Number of visitors:', visitors_count)

Number of visitors: 20

## 5) Find and print the average ratings for each column using numpy functions (we will find the mean and median values)

In [5]:
print('The mean of the price ratings: ', np.mean(price)) # < write your code here >
print('The median of the price ratings', np.median(price)) # < write your code here >

print('The mean of the quality ratings: ', np.mean(quality) ) # < write your code here >
print('The median of the quality ratings', np.median(quality) ) # < write your code here >

The mean of the price ratings:  0.5301899487613222
The median of the price ratings 0.4840797191117925
The mean of the quality ratings:  0.511137197855322
The median of the quality ratings 0.5139562823664277

## 6) Create a new vector which is the average of the ratings of two columns, price and quality. We will name it as mean_ratings. It will show the average rating for each customer. Round elements of the array to the nearest integer.

In [7]:
mean_ratings = (price + quality) / 2
mean_ratings = np.round(mean_ratings)
print(mean_ratings)

0     0.0
1     1.0
2     0.0
3     1.0
4     0.0
5     1.0
6     1.0
7     0.0
8     1.0
9     0.0
10    0.0
11    1.0
12    1.0
13    0.0
14    0.0
15    0.0
16    1.0
17    1.0
18    1.0
19    1.0
dtype: float64

## 7) Create ratings_values matrix again with the all three vectors. Average ratings, which has just been calculated in the previous exercise, should be the third column of the new matrix. All values in the matrix should be integer! New matrix should have 20 rows and 3 columns!

In [8]:
new_ratings_values = np.column_stack((price, quality, mean_ratings))
print(new_ratings_values)
print(type(new_ratings_values))
print(new_ratings_values.shape)

[[0.68174984 0.14957192 0.        ]
 [0.87324956 0.52804553 1.        ]
 [0.19315175 0.12710499 0.        ]
 [0.3342174  0.96982431 1.        ]
 [0.11282782 0.50770316 0.        ]
 [0.95095101 0.41519425 1.        ]
 [0.87855988 0.18665243 1.        ]
 [0.15587909 0.78069582 0.        ]
 [0.6744     0.9516136  1.        ]
 [0.19857852 0.5202094  0.        ]
 [0.2560297  0.32661437 0.        ]
 [0.94531433 0.46663508 1.        ]
 [0.81066365 0.64544224 1.        ]
 [0.31167366 0.15823798 0.        ]
 [0.3198169  0.0479952  0.        ]
 [0.39473421 0.3173322  0.        ]
 [0.75857072 0.52968223 1.        ]
 [0.57342523 0.9336648  1.        ]
 [0.89317396 0.91078463 1.        ]
 [0.28683172 0.7497398  1.        ]]
<class 'numpy.ndarray'>
(20, 3)

In [9]:
new_ratings = pd.DataFrame(new_ratings_values, columns=['Price', 'Quality', 'Average'])
display(new_ratings)

       Price   Quality  Average
0   0.681750  0.149572      0.0
1   0.873250  0.528046      1.0
2   0.193152  0.127105      0.0
3   0.334217  0.969824      1.0
4   0.112828  0.507703      0.0
5   0.950951  0.415194      1.0
6   0.878560  0.186652      1.0
7   0.155879  0.780696      0.0
8   0.674400  0.951614      1.0
9   0.198579  0.520209      0.0
10  0.256030  0.326614      0.0
11  0.945314  0.466635      1.0
12  0.810664  0.645442      1.0
13  0.311674  0.158238      0.0
14  0.319817  0.047995      0.0
15  0.394734  0.317332      0.0
16  0.758571  0.529682      1.0
17  0.573425  0.933665      1.0
18  0.893174  0.910785      1.0
19  0.286832  0.749740      1.0

# B

## 1) Create *Mean Absolute Error (MAE)* function

\begin{equation}
MAE=\frac{1}{n}\sum_{i=1}^n|target_i - predictions_i|
\end{equation}

In [19]:
def mae(target, predictions):
    return  ((target - predictions)**2).mean()

## 2) Create two arrays each of them has $100$ observations. We will use them for *target* and *predictions* labelling. The target array should consist only $0$ or $1$ values which are random created, while predictions only integer $1$. The target array should have a *binomial distribution* which gives $1$ with $60$% probability.

In [20]:
target =  np.random.binomial(1,0.6,100)
predictions = np.ones(100,dtype=int)

print(target)
print()
print(predictions)

[1 0 1 1 0 1 1 0 1 0 1 1 1 1 1 0 1 1 1 1 0 0 1 0 1 0 0 1 1 1 1 1 0 1 0 0 1
 1 1 0 0 1 0 1 0 1 1 1 1 0 1 1 0 1 1 0 1 0 0 1 0 1 1 1 1 1 1 1 1 1 0 1 0 1
 0 1 1 1 1 1 0 1 1 1 1 1 0 1 1 0 0 0 1 0 0 1 0 1 1 0]

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

## 3) Find the *MAE* with your mae function

In [21]:
mean_absolute_error =  mae(target,predictions)

## 4)  Run the code in this step. Observe the printed outputs. Try to run the codes a few times from step 2. What do you think about the results? Give your thoughts shortly with 3 - 5 sentences about why two outputs are the same. What is your conclusion?

In [22]:
print(1-np.mean(target))

print(mean_absolute_error)

0.35
0.35

 ### < write your conclusion here >

## 5) We have always chosen $1$ in our predictions, but the actual values at the target have changed each time. How likely is it that we got it right each time, and what determines this?

 ### < write your answer here >

# C

## 1) Create a Pythagorean function using *np.dot()* to calculate vector length

$$v = [x, y] ==> len_v = \sqrt{x^2+y^2}$$

In [23]:
def pythagorean_length(vector):
    return  np.sqrt(np.dot(vector,vector))

## 2) Calculate the length of the given vector using your *pythagorean_length* function and check your result comparing with the given

In [24]:
a = np.array([3, 4])

print(pythagorean_length(a)) 

print(((a[0] ** 2) + (a[1] ** 2)) ** 0.5)

5.0
5.0

## 3) Find the shortest distance (Euclidean distance) using *np.dot()* between the given two vectors and compare the results to check

In [25]:
a = np.array([5, 6])
b = np.array([1, 3])

c =  np.linalg.norm(a-b)
print('The distance between a and b is', c)

from scipy.spatial import distance
print('The distance between a and b should be', distance.euclidean(a, b))

The distance between a and b is 5.0
The distance between a and b should be 5.0

# D - Obfuscating Data

It is best to obfuscate data by multiplying the numerical features (they can be seen as the matrix $X$) by an invertible matrix $P$. 

$$
X' = X \times P
$$

Try to do that and check how the features' values will look like after the transformation. By the way, the invertible property is important here so make sure that $P$ is indeed invertible.

## 1) Protect customers' personal data. It is necessary to develop a data transformation algorithm that makes it difficult to recover personal information in case the data falls into the wrong hands. This is called data masking or data obfuscation. However, the data must be protected in such a way that the quality of the machine learning models does not suffer. You don't need to choose the best model, just prove that the algorithm works correctly.

In [26]:
# pd.DataFrame
columns = ['gender', 'age', 'salary', 'family_members']
data = np.array([np.random.choice([0, 1], size=1000), 
                 np.random.randint(18, 100, 1000), 
                 np.random.normal(25000, 5000, 1000).astype(int), 
                 np.random.randint(0, 10, 1000)
                ])

personal_data = pd.DataFrame(data.T, columns=columns)
display(personal_data.tail(10))

     gender  age  salary  family_members
990       0   65   30339               8
991       1   49   27956               7
992       0   90   30762               6
993       1   97   27172               5
994       1   92   24004               0
995       1   31   26263               5
996       1   39   23384               6
997       1   52   23543               4
998       1   79   21939               2
999       1   66   25650               8

In [33]:
X = personal_data.values

In [29]:

######rng = np.random.default_rng(seed=42)
P = np.random.randint(0,10,(1000,1000))

**(Hint:** https://numpy.org/doc/stable/reference/random/generator.html **)**

In [30]:
P_inv= np.linalg.inv(P)

In [36]:
X_secure =data.dot(P) 
X_secure = pd.DataFrame(X_secure.T, columns=columns)
display(X_secure.tail(10))

     gender     age     salary  family_members
990    2251  253884  111764202           20094
991    2265  258706  108193399           19392
992    2265  251552  108577981           19064
993    2246  257222  110496597           19396
994    2197  262519  112753943           19566
995    2321  266603  112499358           19758
996    2180  255240  108282330           19582
997    2272  269574  116155314           20090
998    2151  257258  109569393           19617
999    2309  270234  113565406           19805

## 2) Can you guess the customers' ages or income after the transformation?

In [37]:
# Secure Data
pd.DataFrame(X_secure).describe() # < write your code here >

            gender            age        salary  family_members
count  1000.000000    1000.000000  1.000000e+03     1000.000000
mean   2246.870000  259549.616000  1.111692e+08    19541.425000
std      65.717881    5690.166058  2.285324e+06      465.888085
min    2030.000000  237823.000000  1.021275e+08    17933.000000
25%    2204.750000  255873.250000  1.096870e+08    19224.750000
50%    2250.000000  259455.000000  1.112116e+08    19534.500000
75%    2291.000000  263417.000000  1.126404e+08    19851.000000
max    2498.000000  280529.000000  1.191852e+08    21360.000000

#### write your conlusion here
...
No  I cannot guess the customers ages or income

## 3) Can you recover the original data from $X'$ if you know $P$? Try to check that with calculations by moving $P$ from the right side of the formula above to the left one. The rules of matrix multiplication are helpful here.

In [45]:
###(X.P)'=P'.X' 
X_original = P.dot(X_secure)
personal_data[columns] = X_original

In [ ]:
# Printing all three cases for a few customers

In [46]:
# Original Data
personal_data.tail(10)

       gender         age      salary  family_members
990  10310445  1190453659 -1051719611        89650625
991  10010968  1156665461  1495057568        87133748
992  10454618  1208407704 -2132197668        91005874
993   9829785  1134999576   705384069        85433708
994   9691200  1118393553 -2030893957        84176617
995  10150686  1171705615  -533225733        88246526
996  10240849  1182140303  -374444405        89067920
997  10059777  1161907085  -623688374        87474030
998  10026538  1157776689  1709003791        87123352
999   9928420  1147577435  1835494284        86427461

In [47]:
# Secure Data
pd.DataFrame(X_secure).tail(10)  # < write your code here >

     gender     age     salary  family_members
990    2251  253884  111764202           20094
991    2265  258706  108193399           19392
992    2265  251552  108577981           19064
993    2246  257222  110496597           19396
994    2197  262519  112753943           19566
995    2321  266603  112499358           19758
996    2180  255240  108282330           19582
997    2272  269574  116155314           20090
998    2151  257258  109569393           19617
999    2309  270234  113565406           19805

In [48]:
# Recovered Data
pd.set_option('display.float_format', '{:.2f}'.format)
pd.DataFrame(X_original).astype('int').tail(10) # < write your code here >

            0           1           2         3
990  10310445  1190453659 -1051719611  89650625
991  10010968  1156665461  1495057568  87133748
992  10454618  1208407704 -2132197668  91005874
993   9829785  1134999576   705384069  85433708
994   9691200  1118393553 -2030893957  84176617
995  10150686  1171705615  -533225733  88246526
996  10240849  1182140303  -374444405  89067920
997  10059777  1161907085  -623688374  87474030
998  10026538  1157776689  1709003791  87123352
999   9928420  1147577435  1835494284  86427461

#### write your conlusion here
...

---

# USEFUL INFORMATIONS

##### Matrices and Matrix Operations

- **A matrix** is a rectangular numeric table or two-dimensional array consisting of m rows and n columns.
- **A transpose of the matrix** is a matrix operation when its rows become columns with the same numbers.- **Dummy code** is a simple code that doesn't mean anything.
- **An identity matrix** is a square matrix with ones on the main diagonal and zeros elsewhere.
- **An inverse matrix** for a square matrix A is a matrix A with a superscript -1 whose product with A is equal to the identity matrix.
- **Invertible matrices** are matrices that have an inverse.
- **Non-invertible** are matrices that don't have an inverse.

# Properties of Matrices

Matrices have many properties in Linear Algebra.

<table>
<tr>
<td>Distributivity</td><td>$A(B+C)=AB+AC$</td>
</tr>
<tr>
<td>Non-commutativity</td><td>$AB \neq BA$</td>
</tr>
<tr>
<td>Associative property of multiplication</td><td>$(AB)C = A(BC)$</td>
</tr>
<tr>
<td>Multiplicative identity property</td><td>$IA = AI = A$</td>
</tr>
<tr>
<td></td><td>$A^{-1}A = AA^{-1} = I$
</td>
</tr>    
<tr>
<td></td><td>$(AB)^{-1} = B^{-1}A^{-1}$</td>
</tr>    
<tr>
<td>Reversivity of the transpose of a product of matrices,</td><td>$(AB)^T = B^TA^T$</td>
</tr>    
</table>

---